/*****************************************************************
 * Proprietary & Confidential  |  © 2017 PhaseZero Ventures LLC  *
 * This is part of PhaseZero Ventures LLC and cannot be copied,  *
 * modified and/or distributed without the express permission of *
 * PhaseZero Ventures LLC                                        *
 *****************************************************************/


/**
 * @author: Irshadahmed
 */

@import '../../../styles/variables';
@import '../../../styles/mixins';
.promo-snap {
    @include apply-min-dim(180px, 80px, 220px);
    margin: $card-margin;
    padding: 10px !important;
    @include widthMinus(10px, 25%);
    /*@media (min-width: 992px) {
        width: auto;
    }
    @media (min-width: 1025px) {
        width: 206px;
    }
    @media (min-width: 1350px) {
        width: 225px;
    }*/
    &.apply-border {
        border: 2px solid transparent;
        &.active {
            border: solid 2px #0099cc;
        }
        &:hover {
            border: solid 2px #0099cc;
        }
    }
    .count {
        line-height: 36px;
        font-size: $font-sz-lg;
    }
}