<div class="signin-wrapper container">
    <div class="sign-container">
        <div class="sign-in-box pilm-modal">
            <div class="title">
                <h2 translate="SIGN_IN.TITLE"></h2>
            </div>
            <form class="pilm-form" #loginForm="ngForm" (ngSubmit)="signIn()" role="form">
                <div class="form-group" [ngClass]="{'invalid': username.invalid && (username.dirty || username.touched)}">
                    <label for="username">{{'SIGN_IN.LABELS.USERNAME' | translate}} *</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text" class="form-control pilm-form-control" id="username" name="username" placeholder="Username" [(ngModel)]="login.username"
                            autocomplete="off" #username="ngModel" required>
                    </div>
                </div>
                <div class="remember-me">
                    <span class="checkbox-wrap">                        
                        <i class="fa" [ngClass]="{'fa-check-square-o': login.doRemeber, 'fa-square-o': !login.doRemeber}" (click)="login.doRemeber = !login.doRemeber"></i>
                    </span>
                    {{'SIGN_IN.LABELS.REMEMBER_ME' | translate}}
                </div>
                <div class="form-group" style="margin-bottom: 30px;" [ngClass]="{'invalid': password.invalid && (password.dirty || password.touched)}">
                    <label for="password">{{'SIGN_IN.LABELS.PASSWORD' | translate}} *</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input type="password" class="form-control pilm-form-control" id="password" name="password" placeholder="Password" [(ngModel)]="login.password"
                            autocomplete="off" #password="ngModel" required>
                    </div>
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-primary">{{'SIGN_IN.BTN' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>