.signin-wrapper {
    display: table;
    height: 100%;
    position: relative;
    left: -58px;
    .sign-container {
        display: table-cell;
        vertical-align: middle;
        width: 450px;
        .sign-in-box {
            padding: 30px;
            background-color: #f6f6f6;
            color: #332233;
            label {
                color: #323232;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .form-group {
                margin-bottom: 10px;
                .input-group {
                    display: table;
                    width: 100%;
                    .input-group-addon {
                        padding: 0;
                        border-top: 1px solid #dbdbdb;
                        border-bottom: 1px solid #dbdbdb;
                        border-left: 1px solid #dbdbdb;
                        background-color: #f6f6f6;
                        border-radius: 3px 0 0 3px;
                        display: table-cell;
                        width: 34px;
                        .fa {
                            color: #dbdbdb;
                            font-size: 14px;
                        }
                    }
                    .pilm-form-control {
                        display: table-cell;
                        border-radius: 0 3px 3px 0;
                        height: 34.4px;
                    }
                }
            }
            .title {
                h2 {
                    margin-top: 0;
                    margin-bottom: 20px;
                }
            }
            .remember-me {
                font-weight: 600;
                .checkbox-wrap {
                    display: inline-block;
                    width: 22px;
                    .fa {
                        color: #0099cc;
                        font-size: 18px;
                        position: relative;
                        top: 2px;
                        cursor: pointer;
                    }
                }
                margin-bottom: 20px;
                height: 20px;
                line-height: 20px;
                text-align: left;
            }
            .checkbox {
                line-height: 20px;
                text-align: left;
            }
            .actions {
                .btn {
                    width: 100%;
                    height: 40px;
                }
            }
        }
    }
}