@import '../../../styles/variables';
@import '../../../styles/mixins';
.list-view {
    display: block;
    @include heightMinus(89px);
    @include modal-padding(0);
    .actions {
        padding: 0;
        margin-bottom: 20px;
    }
    category-card {
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .category-card-wrap {
        /* @include heightMinus(37px);
        display: block;
        @include overflow-y(auto);
        padding-right: 20px;
        @include tablet {
            overflow-y: (visible);
        } */
    }
}