<div class="list-view container-fluid" *ngIf="isTemplateReady && hasFormField('BY_CATEGORY')">
    <!--<div class="row actions">
        <button class="clickable anchor-link" [disabled]="disableAdd" (click)="addNewCatCard()" translate="COMMON.ADD_CAT"></button>
    </div>-->
    <div class="category-card-wrap">
        <category-card
                *ngFor="let catCard of catCards; let i = index"
                [catCard]="catCard"
                [cardNo]="i"
                [defaultText]="defaultText"
                [scroll]="i >= (cardsLength - 2)"
                [lobList]="catCard.lobList"
                [(disableAdd)]="disableAdd"
                [disableRemove]="2 > cardsLength"
                (removeCard)="removeCard($event)"
                (selectLob)="selectLob($event)"></category-card>
    </div>
</div>
