/*****************************************************************
 * Proprietary & Confidential  |  © 2017 PhaseZero Ventures LLC  *
 * This is part of PhaseZero Ventures LLC and cannot be copied,  *
 * modified and/or distributed without the express permission of *
 * PhaseZero Ventures LLC                                        *
 *****************************************************************/


/**
 * @author: Irshadahmed
 */

@import '../../../styles/variables';
@import '../../../styles/mixins';
.side-nav-bar {
    position: absolute;
    width: 86px;
    background-color: transparent;
    top: 68px;
    left: 0;
    border: none;
    @include breakpoint(0, 768px) {
        width: 79px;
    }
    .nav {
        li {
            position: relative;
            display: block;
            &.disabled {
                .home, .create, .notification, .reports, .help {
                    display: none;
                    &.alias {
                        color: $disable-link-color !important;
                        cursor: not-allowed;
                        display: block !important;
                    }
                }
                
                .create {
                    &.alias {
                        background-image: url(../../../assets/img/create_disabled.png) !important;    
                    }
                }
                .notification {
                    &.alias {
                        background-image: url(../../../assets/img/notification_disabled.png) !important;    
                    }
                }
            }
            a {
                background-repeat: no-repeat;
                display: block;
                text-align: center;
                padding-top: 38px;
                width: calc(100% - 2px);
                font-weight: $default-font-bold;
                color: $light-grey-title-color;
                font-size: $font-sz-sm;
                padding-left: 0;
                padding-right: 0;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                border-left: 1px solid transparent;
                margin-left: 2.5px;
                outline: none;
                background-position: 48% 26%;
                &.alias {
                    display: none;
                }
                &.home {
                    background-image: url(../../../assets/img/home.png);
                    background-position: top 12px left 26px;
                    @include breakpoint(0, 768px) {
                        background-position: top 12px left 23px;
                    }
                }
                &.create {
                    background-image: url(../../../assets/img/create.png);
                    background-position: top 12px left 31px;
                    @include breakpoint(0, 768px) {
                        background-position: top 12px left 28px;
                    }
                }
                &.notification {
                    background-image: url(../../../assets/img/notification.png);
                    background-position: top 12px left 30px;
                    @include breakpoint(0, 768px) {
                        background-position: top 12px left 28px;
                    }
                }
                &.reports {
                    background-image: url(../../../assets/img/reports.png);
                    background-position: top 12px left 31px;
                    @include breakpoint(0, 768px) {
                        background-position: top 12px left 28px;
                    }
                }
                &.help {
                    background-image: url(../../../assets/img/help.png);
                    background-position: top 12px left 31px;
                    @include breakpoint(0, 768px) {
                        background-position: top 12px left 28px;
                    }
                }
            }
            &:hover,
            &:focus {
                a {
                    color: $card-color;
                    background-color: transparent;
                    &.home {
                        background-image: url('../../../assets/img/home-active.png');
                    }
                    &.create {
                        background-image: url('../../../assets/img/create-active.png');
                    }
                    &.notification {
                        background-image: url('../../../assets/img/notification-active.png');
                    }
                    &.reports {
                        background-image: url('../../../assets/img/reports-active.png');
                    }
                    &.help {
                        background-image: url('../../../assets/img/help-active.png');
                    }
                }
            }
            &.active {
                a {
                    @include modal-bg($container-bg);
                    color: $card-color;
                    @include modal-radius(4px 0 0 4px);
                    @include modal-shadow(-3px 0px 5px 0px rgba(0,
                    0,
                    0,
                    0.2));
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
                    border-left: 1px solid $border-color;
                    border-right: 1px solid #F6F6F6;
                    &.home {
                        background-image: url('../../../assets/img/home-active.png');
                    }
                    &.create {
                        background-image: url('../../../assets/img/create-active.png');
                    }
                    &.notification {
                        background-image: url('../../../assets/img/notification-active.png');
                    }
                    &.reports {
                        background-image: url('../../../assets/img/reports-active.png');
                    }
                    &.help {
                        background-image: url('../../../assets/img/help-active.png');
                    }
                }
            }
        }
    }
}