<!-- Sidebar -->
<nav *ngIf="isLoggedIn" class="navbar navbar-default side-nav-bar" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]=" ['./'] " class="home">
                <span translate="HOME.NAV_LINK_TITLE"></span>
            </a>
        </li>
        <li 
        [featureToggle]="false" permission="CreatePromotion"
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: false}">
            <a [routerLink]=" ['./promotions/choose-template'] " class="create ">
                <span translate="CREATE.NAV_LINK_TITLE"></span>
            </a>
            <a class="create alias">
                <span translate="CREATE.NAV_LINK_TITLE"></span>
            </a>
            <a [routerLink]=" ['./promotions'] " class="hide">Bob</a>
        </li>
        <li [featureToggle]="false" permission="ViewNotification"
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: false}">
            <a [routerLink]=" ['./notification'] " class="notification">
                <span translate="NOTIFICATION.NAV_LINK_TITLE"></span>
            </a>
            <a class="notification alias">
                <span translate="NOTIFICATION.NAV_LINK_TITLE"></span>
            </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <a [routerLink]=" ['./reports'] " class="reports">
                <span translate="REPORTS.NAV_LINK_TITLE"></span>
            </a>
        </li>
        <li class="hide" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <a [routerLink]=" ['./help'] " class="help">
                <span translate="HELP.NAV_LINK_TITLE"></span>
            </a>
        </li>
    </ul>
</nav>
<!-- /#sidebar-wrapper -->