/*****************************************************************
 * Proprietary & Confidential  |  © 2017 PhaseZero Ventures LLC  *
 * This is part of PhaseZero Ventures LLC and cannot be copied,  *
 * modified and/or distributed without the express permission of *
 * PhaseZero Ventures LLC                                        *
 *****************************************************************/
/**
 * @author: Irshadahmed
 */
 .navbar-default {
    &.footer-nav-bar {
        background: none;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
        padding: 15px;
        max-height: 60px;
        .copyright-txt {
            color: #000000;
            line-height: 25px;
            font-weight: 600;
        }
        .navbar-nav {
            >li {
                >a {
                    color: #dedede;
                    font-size: 18px;
                    &:hover,
                    &:focus {
                        color: #FFFFFF;
                    }
                }
            }
        }
        .powerd-by {
            width: 100px;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}