<nav class="navbar navbar-default footer-nav-bar" #navBar>
    <div class="row">
        <div class="copyright-txt col-md-6 pull-left">
            <span class="copy-right" translate="FOOTER.COPY_RIGHT"></span>
        </div>
        <div class="col-md-3 pull-right">
            <span class="powerd-by pull-right">
                <img width="107" height="30" src="assets/img/pzv_logo.png" />
            </span>
        </div>
    </div>
</nav>
