<div class="recent-activity clickable card" [routerLink]="['/promotions', recentActivity.data.promoId, 'details']" *ngIf="recentActivity.data">
        <h5>
            <span class="promo-status">{{'PROMOTION_STATUS.'+statusType | translate}}</span>
            <i class="expand pull-right fa"></i>
        </h5>
        <div class="row">
            <div class="col-md-9">
                <div class="row inner-row">
                    <div class="col-md-5">
                        <h5 class="label">{{'COMMON.PROMO_CODE' | translate}}: </h5>
                        <p>{{recentActivity.data.promoCode}}</p>
                    </div>
                    <div class="col-md-1 vertical-line">
                        <div></div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="label">{{'COMMON.PROMO_DOC_NO' | translate}}: </h5>
                        <p>{{recentActivity.data.promoDocNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="label">{{'COMMON.PROMO_NAME' | translate}}: </h5>
                        <p>{{recentActivity.data.promoName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="label">{{'COMMON.CREATED_BY' | translate}}: </h5>
                        <p>{{recentActivity.data.creatorName}}</p>
                    </div>
                </div>
                <div class="row" *ngIf="'SAVED_AS_DRAFT' === recentActivity.action">
                    <div class="col-md-12">
                        <div class="row inner-row">
                            <div class="col-md-3">
                                <h5 class="label">{{'COMMON.DRAFT_STG' | translate}}: </h5>
                                <p translate="PROMOTION.STAGE.{{recentActivity.data.promoStage}}"></p>
                            </div>
                            <div class="col-md-9 promo-stg">
                                <div *ngFor="let promotion of promotionSettings.PROMOTION_STAGES; let i = index;">
                                    <div class="active" *ngIf="i < promoStage"></div>
                                    <div class="active" *ngIf="i === promoStage && recentActivity.data.stgComplete"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 vertical-line">
                <div></div>
            </div>
            <div class="col-md-2 col-span-21">
                    <h5 class="label">{{'COMMON.CREATED_ON' | translate}} </h5>
                    <p style="margin-left: 0;">{{recentActivity.data.createdOn | myFormatDate}}</p>
                    <h5 class="label">{{'COMMON.LAST_MOD_ON' | translate}} </h5>
                    <p style="margin-left: 0;">{{recentActivity.modifiedOn | myFormatDate}}</p>
            </div>
        </div>
    </div>