@import '../../../styles/variables';
@import '../../../styles/mixins';
.recent-activity {
    margin-bottom: 10px;
    h5 {
        .promo-status {
            display: inline-block;
            @include widthMinus(15px);
            @include show-ellipsis();
        }
    }
    .row {
        line-height: 20px;
        .col-md-12,
        .col-md-9,
        .col-md-6,
        .col-md-5,
        .col-md-3,
        .col-md-2 {
            padding: 5px 0;
        }
        @media (min-width: 610px) {
            .col-md-12,
            .col-md-9,
            .col-md-6,
            .col-md-5,
            .col-md-3,
            .col-md-2 {
                float: left;
            }
        }
        .vertical-line {
            >div {
                height: 75px;
                margin: 10px 0 0;
            }
            @media (min-width: 610px) {
                float: left;
            }
            @include breakpoint(610px, 768px) {
                margin: 0 10px;
            }
            @include breakpoint(0, 609px) {
                display: none;
            }
        }
        @media (min-width: 610px) {
            .col-md-9 {
                min-width: 75%;
            }
        }
        &.inner-row {
            .vertical-line {
                width: 1px;
                margin: 0;
                padding: 7.5px 0 0;
                margin: 0 10px;
                display: block;
                >div {
                    width: 0;
                    height: 13px;
                    @include apply-border-left(#dbdbdb);
                    margin: 2.5px auto;
                }
                @media (min-width: 610px) {
                    float: left;
                }
            }
            .col-md-9,
            .col-md-6,
            .col-md-5,
            .col-md-3 {
                width: auto;
            }
            @media (min-width: 610px) {
                .col-md-9,
                .col-md-6,
                .col-md-5,
                .col-md-3 {
                    width: auto;
                }
            }
            .col-md-3 {
                @include breakpoint(0, 480px) {
                    float: left;
                }
            }
        }
        .label {
            width: auto;
            float: left;
            color: #acacac;
            @include font-wt-normal();
            font-size: $font-sz-md;
            padding: 0;
            text-transform: capitalize;
        }
        .promo-stg {
            padding: 6.5px 0;
            margin-left: 10px;
            min-width: 260px;
            @include breakpoint(0, 480px) {
                min-width: 95%;
                margin-left: 0;
            }
            >div {
                width: 48px;
                height: 8px;
                border-radius: 2px;
                display: inline-block;
                background-color: $body-bg;
                margin-right: 5px;
                @include breakpoint(0, 480px) {
                    float: left;
                    margin: 5px;
                }
                &:last-child {
                    margin-right: 0;
                }
                .active {
                    background-color: $active-color;
                    height: 100%;
                }
            }
        }
        p {
            @include font-wt-semi();
            font-size: 16px;
            float: left;
            margin-left: 5px;
            margin-bottom: 0;
        }
        h5 {
            margin: 0;
            line-height: 20px;
        }
    }
}