<nav class="navbar navbar-inverse header-nav-bar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button"  *ngIf="isLoggedIn" 
        class="navbar-toggle" 
        (click)="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="pull-left" (click)="goToHome()" style="position:relative; top: 3px; cursor:pointer;" src="{{logoUrl}}" height="45" />
        <a class="navbar-brand" [routerLink]=" ['./'] ">{{'HEADER.ADMIN_CONSOLE_LINK.PROMO' | translate}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" 
    [ngClass]="{'in': !isCollapsed}"
    *ngIf="isLoggedIn">
        <ul class="nav navbar-nav">
            <!--<li>
                <a title="{{'HEADER.SLIDER_LINK.TITLE' | translate}}" class="fa fa-sliders"></a>
            </li>-->
            <li dropdown>
                <a title="{{'HEADER.USER_LINK.TITLE' | translate}}" dropdownToggle class="pilm-head-dp clickable"><span class="pilm-arrow"></span></a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" [featureToggle]="true" permission="ChangeApprover">
                        <a class="dropdown-item clickable" (click)="showAdminConsole($event)">{{'HEADER.ADMIN_CONSOLE_LINK.TITLE' | translate}}</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item clickable" (click)="logout($event)">{{'HEADER.LOGOUT_LINK.TITLE' | translate}}</a>
                    </li>
                    <!--<li role="menuitem">
                        <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                        <a class="dropdown-item" href="#">Separated link</a>
                    </li>-->
                </ul>
            </li>
            <!--<li>
                <a title="{{'HEADER.LOGOUT_LINK.TITLE' | translate}}" class="fa fa-sign-out clickable" (click)="logout($event)"></a>
            </li>-->
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
