/*****************************************************************
 * Proprietary & Confidential  |  © 2017 PhaseZero Ventures LLC  *
 * This is part of PhaseZero Ventures LLC and cannot be copied,  *
 * modified and/or distributed without the express permission of *
 * PhaseZero Ventures LLC                                        *
 *****************************************************************/


/**
 * @author: Irshadahmed
 */
 @import '../../../styles/variables';
 @import '../../../styles/mixins';

.header-nav-bar {
    background-color: #FFFFFF;
    max-width: $container-max-width;
    margin: 0 auto;
    border: none;
    border-width: 0;
    min-height: 51px;
    border-radius: unset;
    padding: 0 20px;
    @include breakpoint() {
        padding: 0;
    }
    .navbar-brand {
        color: #000000;
        font-weight: 600;
        &:hover,
        &:focus {
            color: #666666;
        }
    }
    .navbar-nav {
        margin: 0;
        .open {
            .dropdown-menu {
                >li {
                    a {
                        padding: 5px 10px;
                    }
                }
            }
        }
        >li {
            >a {
                margin: 10px;
                &.pilm-head-dp {
                    background-image: url('../../../assets/img/myAccount.png');
                    background-repeat: no-repeat;
                    background-position: right;
                    background-color: transparent;
                    height: 24px;
                    min-width: 21px;
                    .pilm-arrow {
                        top: 10px;
                        left: -15px;   
                    }
                    &:hover,
                    &:focus {
                        background-color: transparent;
                    }
                }
                color: #dedede;
                font-size: 18px;
                &:hover,
                &:focus {
                    color: #FFFFFF;
                }
            }
            .dropdown-menu {
                left: inherit;
                right: 0;
            }
        }
    }
    .navbar-collapse {
        @include breakpoint() {
            width: 100%;
            text-align: right;
            overflow: visible;
            .dropdown-menu {
                li {
                    text-align: right;
                }
            }
        }
    }
}