<div class="container-fluid main-container notification-screen">
    <div class="row page-title">
        <h4 translate="NOTIFICATION.TITLE"></h4>
    </div>
    <div class="row page-body"  *ngIf="notificationDetails" scrollMe>
        <div class="search-wrapper">
            <div class="input-group">
                <input type="text" #searchTerms name="search" id="searchBy" placeholder="{{'NOTIFICATION.PLACE_HOLDER.SEARCH' | translate}}" [(ngModel)]="searchTxt" (keyup)="searchNotification()">
                <span class="input-group-btn fa fa-search" *ngIf="!searchTxt || !searchTxt.length"></span>
                <span class="input-group-btn fa fa-times clickable" (click)="resetSearchTerm($event)" *ngIf="searchTxt && searchTxt.length">
                </span>
            </div>
        </div>
        <div>
            <table class="table spacing-table">
                <thead>
                    <tr>
                        <th>{{'COMMON.PROMO_DOC_NO' | translate}}</th>
                        <th>{{'COMMON.PROMO_CODE' | translate}}</th>
                        <th>{{'NOTIFICATION.TBL_HEAD.NOTE' | translate}}</th> 
                        <th>{{'NOTIFICATION.TBL_HEAD.USR' | translate}}</th>
                        <th>{{'NOTIFICATION.TBL_HEAD.ACTION_REQ' | translate}}</th>
                        <th>{{'NOTIFICATION.TBL_HEAD.RECEIVED' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of notificationDetails.content; let i = index" [ngClass]="{'tr-readable': item.read}" (click)="showPromoDetails(item)">
                        <td>{{item.promoDocNumber}}</td>
                        <td>{{item.promoCode}}</td>
                        <td class="bold">{{item.note}}</td>
                        <td>{{item.firstName + " " + item.lastName}}</td>
                        <td class="bold">{{item.action}}</td>
                        <td>{{ item.receivedOn | date }}<span class="notify-time">{{ item.receivedOn | date:'MMM d h:m a' }}</span></td>
                    </tr>
                </tbody> 
            </table>
            <div class="pagination-wrapper" *ngIf="notificationDetails && 10 < notificationDetails.totalElements">
                <span class="page-status">{{(currentPage -1 )*itemsPerPage + 1}} - {{currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage}} of {{totalItems}}</span>
                <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" itemsPerPage="{{itemsPerPage}}" (pageChanged)="pageChanged($event)" class="pagination-sm" [maxSize]="maxSize"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
        </div>
            
    </div>
</div>