@import '../../../styles/variables';
@import '../../../styles/mixins';
.notification-screen {
    @include heightMinus(60px);
    @include tablet {
        height: auto;
    }
    .page-body {
        padding: 0 10px;
        @include heightMinus(45px);
        @include overflow-y(auto);
        @include tablet {
            height: auto;
            @include overflow-y(visible);
        }
        .search-wrapper {
            width: 320px;
            margin-bottom: 10px;
            .input-group {
                width: 100%;
                position: relative;
                input,
                span {
                    display: inline-block;
                }
                input {
                    border: 1px solid #dbdbdb !important;
                    @include modal-radius(3px 3px 3px 3px);
                    height: 34.4px;
                    width: 100%;
                    padding: 8px 30px 8px 8px;
                }
                span {
                    font-size: 16px;
                    position: absolute;
                    right: 20px;
                    top: 8px;
                    display: inline-block;
                    &.fa-search {
                        color: $anchor-color;
                    }
                }
            }
        }
        .table {
            margin-bottom: 0;
            &.spacing-table {
                border-collapse: separate;
                border-spacing: 0 3px;
            }
            thead {
                tr {
                    th {
                        border: 0;
                        vertical-align: top;
                        color: #acacac;
                        font-weight: 600;
                    }
                }
            }
            tbody {
                tr {
                    background: white;
                    &.tr-readable {
                        background: $body-bg;
                        color: $default-color;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    td {
                        @include modal-padding(10px);
                        @include apply-border-bottom();
                        @include font-wt-semi();
                        color: $card-color;
                        font-size: $font-sz-md;
                        &.bold {
                            @include font-wt-bold();
                        }    
                        &:first-child {
                            @include apply-border-left();
                            @include modal-radius(3px 0 0 3px);
                        }
                        &:last-child {
                            @include apply-border-right();
                            @include modal-radius(0px 3px 3px 0px);
                        }
                        .notify-time {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        .pagination-wrapper {
            text-align: center;
            .page-status {
                display: inline-block;
                position: relative;
                top: -30px;
                margin-right: 10px;
                font-weight: 600;
            }
            ul.pagination {
                margin: 0 !important;
            }
        }
    }
}