<div class="modal-dialog">
    <form class="pilm-form" #actionFrm="ngForm" role="form">
        <div class="modal-header">
            <div class="action-img approved"></div>
            <h4 class="modal-title" translate="REPORT.MODAL_TITLE"></h4>
        </div>
        <div class="modal-body">
            <div class="actions">
                <!-- <button type="button" (click)="closePopover()" class="btn btn-default" translate="BUTTONS.CANC"></button> -->
                <button type="submit" (click)="actionConfirmed()" class="btn btn-primary" translate="BUTTONS.CONF"></button>
            </div>
        </div>
    </form>
</div>