@import '../../../styles/variables';
@import '../../../styles/mixins';
$content-margin: 80px;
.pilm-accordion {
    max-height: 200px;
    @include overflow-y(auto);
    @include overflow-x(hidden);
    .line-item {
        color: $card-color;
        margin-top: 5px;
        .item-label {
            margin-right: 10px;
            margin-bottom: 5px;
        }
        .item-label,
        .item-value {
            float: left;
        }
        .item-value {
            margin-bottom: 5px;
            @include font-wt-semi();
            .username,
            .email {
                float: left;
                line-height: 12px;
            }
            .username {
                margin-right: 10px;
                margin-bottom: 5px;
            }
            .email {
                @include font-wt-normal();
                @include show-ellipsis();
            }
        }
    }
}

.promotion-details {
    @include modal-padding(0);
    height: 100%;
    @include breakpoint(0, 398px) {
        padding-bottom: 40px;
    }
    .page-title {
        position: relative;
        .back-btn,
        .close-btn {
            position: absolute;
            top: 10px;
            margin: 0;
        }
        .back-btn {
            left: 0;
        }
        .close-btn {
            right: 0;
        }
        h4 {
            margin: 10px $content-margin;
            @include tablet {
                margin: 15px 40px;
            }
        }
    }
    .page-body {
        padding: 0 $content-margin; // width: 1078px;
        @include heightMinus(45px);
        @include overflow-y(auto);
        @include tablet {
            height: auto;
            @include overflow-y(visible);
            @include modal-padding(0 10px 0 40px);
        }
        @include breakpoint(0, 398px) {
            height: calc(100% - 300px) !important;
            overflow-y: auto !important;
        }
        .left-side-panel {
            @include modal-padding(0);
            @include tablet {
                margin-bottom: 10px;
            }
            @include breakpoint(0, 480px) {
                width: 100%;
            }
        }
        .vertical-line {
            >div {
                min-height: 500px;
            }
            @include breakpoint(0, 992px) {
                display: none;
            }
        }
        .right-side-panel {
            @include modal-padding(0);
            @include widthMinus(41px, 58.333333%);
            @include breakpoint(0, 992px) {
                width: 100%;
            }
            .card-section {
                .dotted-row {
                    border-top: dashed;
                    margin-top: 0;
                    margin-bottom: 10px;
                    border-color: #dbdbdb;
                    border-width: thin;
                }
                .row {
                    .col-md-2,
                    .col-md-3,
                    .col-md-4,
                    .col-md-6,
                    .col-md-12 {
                        padding-left: 0;
                        padding-right: 10px;
                        &:last-child {
                            padding-right: 0;
                        }
                        @include breakpoint(0, 992px) {
                            padding-right: 0;
                        }
                    }
                    .col-md-3 {
                        &.multi-use {
                            p {
                                line-height: 58px;
                                margin-bottom: 0;
                                padding-left: 10px;
                            }
                        }
                    }
                    .email-attach {
                        @include breakpoint(0, 768px) {
                            min-height: auto !important;
                            padding-bottom: 15px;
                        }
                        a {
                            line-height: 58px;
                            margin-right: 10px;
                            float: left;
                            @include breakpoint(0, 768px) {
                                line-height: 30px;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    .col-md-4 {
                        min-width: 203px;
                        max-width: 273px;
                        @include breakpoint(0, 992px) {
                            max-width: 100%;
                        }
                    }
                    .col-md-8,
                    .col-md-4,
                    .col-md-2 {
                        min-height: 71px;
                        .card-cell {
                            min-height: 61px;
                        }
                    }
                }
            }
        }
        .card-cell {
            h5 {
                .close-btn-primary {
                    width: 12px;
                    height: 12px;
                }
            }
            &.promo-date {
                h5,
                p {
                    display: table;
                    width: 100%;
                    span {
                        display: table-cell;
                        width: 50%;
                    }
                }
            }
            .spacer {
                display: block;
                padding: 5px;
            }
            p {
                margin-top: 10px;
                font-size: $font-sz-sm !important;
                max-height: 180px;
                @include overflow-y(auto);
                &.desc-short {
                    @include show-ellipsis();
                }
            }
            .groups {
                .customers {
                    padding-bottom: 5px;
                    .cust-details {
                        margin-top: 5px;
                        .cust-name {
                            @include font-wt-semi();
                        }
                        .cust-contacts {
                            padding-left: 10px;
                            margin-top: 2px;
                            .line-item {
                                margin-top: 2px;
                                line-height: 12px;
                                .item-label {
                                    @include font-wt-semi();
                                    margin-bottom: 2px;
                                }
                                .item-value {
                                    @include font-wt-normal();
                                    margin-bottom: 2px;
                                }
                            }
                        }
                    }
                }
            }
            .approval-pending-indicator {
                margin-top: 5px;
                &.not-started {
                    .status-indicator {
                        background-color: $body-bg;
                    }
                }
                .status-indicator {
                    width: 48px;
                    height: 8px;
                    border-radius: 2px;
                    display: inline-block;
                    margin-right: 5px;
                    @include breakpoint(0, 480px) {
                        float: left;
                        margin: 5px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    background-color: #00a053;
                    &.rejected {
                        background-color: #933612 !important;
                        ~span {
                            background-color: $body-bg;
                        }
                    }
                    &.active {
                        ~span {
                            background-color: $body-bg;
                        }
                    }
                }
            }
            .fyi-users {
                .line-item {
                    margin-top: 2px;
                    .item-value {
                        margin-bottom: 0px;
                    }
                }
            }
            .promo-note {
                p {
                    font-size: $font-sz-xs !important;
                    margin-top: 10px;
                    margin-bottom: 5px !important;
                    word-wrap: break-word;
                    padding-right: 5px;
                }
                .added-by {
                    color: $light-grey-title-color;
                }
            }
            .by-list {
                .list-name {
                    margin-bottom: 10px !important;
                }
            }
        }
    }
}