<div class="main-container">
    <div class="container-fluid promotion-details">
        <div class="row page-title">
            <i class="back-btn pull-left" (click)="location.back()"></i>
            <h4 translate="PROMOTION_DETAILS.TITLE"></h4>
        </div>
        <div class="clearfix"></div>
        <div class="row page-body" scrollMe *ngIf="promoDetails">
            <div class="col-md-5 left-side-panel">
                <div class="card-section">
                    <div class="card-cell" *ngIf="hasFormField('PROMO_NAME')">
                        <h5 translate="PROMOTION.TITLE"></h5>
                        <p>{{promoDetails.headers.promoName}}</p>
                    </div>
                    <div class="card-cell" *ngIf="hasFormField('SHORT_DESCRIPTION')">
                        <h5>
                            {{'PROMOTION_DETAILS.PROMO_SHORT_DESC' | translate}}
                        </h5>
                        <p class="desc-short">{{promoDetails.headers.shortDescription}}</p>
                    </div>
                    <div class="card-cell" *ngIf="hasFormField('LONG_DESCRIPTION')">
                        <h5>
                            {{'PROMOTION_DETAILS.PROMO_LONG_DESC' | translate}}
                            <i class="fa pull-right" *ngIf="promoDetails.headers.longDescription" [ngClass]="{'close-btn-primary': showLongDesc, 'plus-btn': !showLongDesc}"
                                (click)="showLongDesc = !showLongDesc"></i>
                        </h5>
                        <p class="desc-short" *ngIf="!showLongDesc">{{promoDetails.headers.longDescription}}</p>
                        <p *ngIf="showLongDesc">
                            {{promoDetails.headers.longDescription}}
                        </p>
                    </div>
                    <div class="card-cell">
                        <h5>{{'TARGET_MARKET.TITLE' | translate}}
                            <i class="fa pull-right" [ngClass]="{'close-btn-primary': status.targetMarket.isOpen, 'plus-btn': !status.targetMarket.isOpen}"
                                (click)="showTargetMarket()"></i>
                        </h5>
                        <accordion>
                            <accordion-group [isOpen]="status.targetMarket.isOpen" panelClass="pilm-accordion">
                                <div class="pilm-accordion-data" *ngIf="targetMarket">
                                    <div class="groups">
                                        <div class="line-item clearfix" *ngIf="targetMarket.lineOfBusiness && hasFormField('LINE_OF_BUSINESS')">
                                            <div class="item-label">
                                                <span translate="CONFIGURE_RULES.LOB"></span>:</div>
                                            <div class="item-value">{{targetMarket.lineOfBusiness}}</div>
                                        </div>
                                        <div class="line-item clearfix" *ngIf="targetMarket.channel && hasFormField('CHANNEL_CODE')">
                                            <div class="item-label">
                                                <span translate="TARGET_MARKET.CHANNEL"></span>:
                                            </div>
                                            <div class="item-value">{{targetMarket.channel}}</div>
                                        </div>
                                        <div class="line-item clearfix" *ngIf="targetMarket.buyingGroup && hasFormField('BUYING_GROUPS')">
                                            <div class="item-label">
                                                <span translate="TARGET_MARKET.BUY_GRP"></span>:
                                            </div>
                                            <div class="item-value">{{targetMarket.buyingGroup}}</div>
                                        </div>
                                        <div class="line-item clearfix" *ngIf="targetMarket.rtb && hasFormField('RTB_CODE')">
                                            <div class="item-label">
                                                <span translate="TARGET_MARKET.RTB_CD"></span>:
                                            </div>
                                            <div class="item-value">{{targetMarket.rtb}}</div>
                                        </div>
                                        <div class="customers" *ngIf="targetMarket.customers">
                                            <button class="anchor-link" (click)="viewSelectedCustomers()" translate="TARGET_MARKET.VIEW_CUST_LIST"></button>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="card-cell" *ngIf="hasFormField('LIST_OF_APPROVERS')">
                        <h5>{{'PROMOTION.APPROVERS_LIST' | translate}}
                            <i class="fa pull-right" [ngClass]="{'close-btn-primary': status.approversList.isOpen, 'plus-btn': !status.approversList.isOpen}"
                                (click)="showPromoApprovers()"></i>
                        </h5>
                        <div class="spacer" *ngIf="status.approversList.isOpen"></div>
                        <accordion>
                            <accordion-group [isOpen]="status.approversList.isOpen" panelClass="pilm-accordion">
                                <div class="pilm-accordion-data" *ngIf="promoApprovers">
                                    <approver-list-status [approvalProcess]="approvalProcess"
                                    [promoStatus]="promoDetails.status"
                                    [rejectedGroupId]="rejectedGroupId" 
                                    [promoApprovers]="promoApprovers"></approver-list-status>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="card-cell" *ngIf="hasFormField('LIST_OF_APPROVERS') && promoApprovers && ('PENDING_APPROVAL' === promoDetails.status || 'REJECTED' === promoDetails.status)">
                        <h5>{{'PROMOTION_DETAILS.APPR_PEN_STAT' | translate}}
                        </h5>
                        <p class="approval-pending">
                            <span translate="APPROVAL_PROCESS.{{approvalPendingGroupId}}"></span>
                            <span *ngIf="'REJECTED' === promoDetails.status"> - {{'PROMOTION_STATUS.REJECTED' | translate}}</span>
                        </p>
                        <div class="approval-pending-indicator clearfix" [ngClass]="{'not-started': !approvalProcess}">
                            <span class="status-indicator" *ngFor="let promoApprover of promoApprovers" [ngClass]="{'active': 'APPROVED' === promoApprover.status, 'rejected': promoApprover.groupId === rejectedGroupId}"></span>
                        </div>
                    </div>
                    <div class="card-cell" *ngIf="promoDetails.approverData.fyiUsers && hasFormField('LIST_OF_FYI_USERS')">
                        <h5>{{'PROMOTION.FYI_USERS' | translate}}
                            <i class="fa pull-right" [ngClass]="{'close-btn-primary': status.fyiList.isOpen, 'plus-btn': !status.fyiList.isOpen}" (click)="status.fyiList.isOpen = !status.fyiList.isOpen"></i>
                        </h5>
                        <accordion>
                            <accordion-group [isOpen]="status.fyiList.isOpen" panelClass="pilm-accordion">
                                <div class="pilm-accordion-data">
                                    <div class="fyi-users">
                                        <div class="line-item clearfix" *ngFor="let fyiUsers of promoDetails.approverData.fyiUsers">
                                            <span class="item-value">{{fyiUsers}}</span>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="card-cell">
                        <h5>{{'PROMOTION_DETAILS.NOTE' | translate}}
                            <i class="fa pull-right" [ngClass]="{'close-btn-primary': status.notes.isOpen, 'plus-btn': !status.notes.isOpen}" (click)="showNotes()"></i>
                        </h5>
                        <accordion>
                            <accordion-group [isOpen]="status.notes.isOpen" panelClass="pilm-accordion">
                                <div class="pilm-accordion-data">
                                    <div class="promo-note" *ngFor="let promoNote  of promoNotes;">
                                        <p>{{promoNote.comments}}</p>
                                        <div class="added-by">{{promoNote.createdBy}}, {{promoNote.createdOn | myFormatDate:'medium'}}</div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="action" *ngIf="'ARCHIVED' !== promoDetails.status">
                        <button featureToggle permission="AddNotes" class="anchor-link" (click)="addNewNote()" translate="PROMOTION_DETAILS.ADD_NOTE"></button>
                    </div>
                </div>
            </div>
            <div class="col-md-1 vertical-line">
                <div></div>
            </div>
            <div class="col-md-6 right-side-panel">
                <div class="card-section">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-cell">
                                <h5 translate="PROMOTION_DETAILS.PROMO_TYPE"></h5>
                                <p>{{promoDetails.promoType}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-cell">
                                <h5 translate="PROMOTION_DETAILS.PROMO_DOC_NO"></h5>
                                <p>{{promoDetails.promoDocNumber}}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted-row" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-cell promo-date">
                                <h5>
                                    <span translate="DEFINE_PROMO.START_DT"></span>
                                    <span translate="DEFINE_PROMO.END_DT"></span>
                                </h5>
                                <p>
                                    <span>{{promoDetails.headers.startDate | myFormatDate: 'M.d.y'}}</span>
                                    <span>{{promoDetails.headers.endDate | myFormatDate: 'M.d.y'}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-cell">
                                <h5 translate="PROMOTION_DETAILS.PROMO_NOTIFY_DT"></h5>
                                <p>{{promoDetails.headers.notificationTimestamp | myFormatDate: 'medium'}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-cell">
                                <h5 translate="PROMOTION_DETAILS.NOTIFY_METHOD"></h5>
                                <p>{{promoDetails.targets.promoNotificationMethod}}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted-row" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-cell">
                                <h5 translate="PROMOTION.CODE"></h5>
                                <p>{{promoCode}}</p>
                            </div>
                        </div>
                        <div class="col-md-8 email-attach">
                            <a *ngIf="emailAttachment" href="{{emailAttachment}}" target="_blank" class="anchor-link" translate="TARGET_MARKET.EMAIL_ATTACH"></a>
                            <!-- <a *ngIf="emailBody" class="anchor-link clickable"
                            (click)="preivewEmailBody()" translate="COMMON.EMAIL"></a> -->
                            <a *ngIf="preivewImages" class="anchor-link clickable"
                            (click)="previewPromoImages()" translate="PROMOTION_DETAILS.PROMO_IMAGES"></a>
                        </div>
                    </div>
                    <div class="row" *ngIf="emailSubject">
                        <div class="col-md-12">
                            <div class="card-cell">
                                    <h5 translate="COMMON.EMAIL"></h5>
                                    <p>{{emailSubject}} <a *ngIf="emailBody" class="pull-right anchor-link clickable"
                                        (click)="preivewEmailBody()" translate="COMMON.VIEW_MORE"></a></p>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted-row" />
                    <div class="row" *ngIf="promoDetails.goals">
                            <div class="col-md-3" *ngIf="promoDetails.goals.awarenessOnly">
                                    <div class="card-cell">
                                        <h5 translate="GOALS.TITLE"></h5>
                                        <p translate="GOALS.AWARE"></p>
                                    </div>
                                </div>
                        <div class="col-md-3" *ngIf="!promoDetails.goals.awarenessOnly && hasFormField('PENETRATION')">
                            <div class="card-cell">
                                <h5 translate="PROMOTION.PENETRATION"></h5>
                                <p>{{promoDetails.goals.penetration | number}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="!promoDetails.goals.awarenessOnly && hasFormField('PURCHASE_FREQUENCY')">
                            <div class="card-cell">
                                <h5 translate="PROMOTION.PUR_FREQ"></h5>
                                <p>{{promoDetails.goals.purchaseFrequency | number}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="!promoDetails.goals.awarenessOnly && hasFormField('PURCHASE_VOLUME')">
                            <div class="card-cell">
                                <h5 translate="PROMOTION.PUR_VOL"></h5>
                                <p>{{promoDetails.goals.purchaseVolume | number}}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted-row" />
                    <div class="row">
                        <div class="col-md-4" *ngIf="hasFormField('PROMO_OFFER')">
                            <div class="card-cell">
                                <h5 translate="PROMOTION.OFFER"></h5>
                                <p *ngIf="promoDetails.rules">{{promoDetails.rules.promoOffer}}</p>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="hasFormField('VALUE')">
                            <div class="card-cell">
                                <h5 translate="CONFIGURE_RULES.VAL"></h5>
                                <p *ngIf="promoDetails.rules">{{promoDetails.rules.promoValue | number}}</p>
                            </div>
                        </div>

                        <div class="col-md-2" *ngIf="hasFormField('MULTI_USE')">
                            <div class="card-cell">
                                <h5 translate="PROMOTION.MULTI"></h5>
                                <p *ngIf="promoDetails.rules">{{promoDetails.rules.multiUse}}</p>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="hasFormField('THRESHOLD') && promoDetails.rules && promoDetails.rules.multiUse">
                            <div class="card-cell">
                                <h5 translate="CONFIGURE_RULES.THRESHOLD"></h5>
                                <p *ngIf="promoDetails.rules">{{promoDetails.rules.threshold | number}}</p>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="hasFormField('QUALIFYING_AMOUNT')" style="padding-right: 10px">
                            <div class="card-cell">
                                <h5 translate="CONFIGURE_RULES.QUAL_AMT"></h5>
                                <p *ngIf="promoDetails.rules">{{promoDetails.rules.qualifyingAmount | number}}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted-row" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-cell">
                                <h5>{{( (!targetProdCategory || 'byList' === targetProdCategory.option) ? 'CONFIGURE_RULES.TARGET_PROD_LIST'
                                    :('byBrand' === targetProdCategory.option) ? 'CONFIGURE_RULES.TARGET_PROD_BRAND' : 'CONFIGURE_RULES.TARGET_PROD_CAT') | translate}}
                                    <i class="fa pull-right" [ngClass]="{'close-btn-primary': status.productList.isOpen, 'plus-btn': !status.productList.isOpen}"
                                        (click)="showTargetProdCategory()"></i>
                                </h5>
                                <accordion>
                                    <accordion-group [isOpen]="status.productList.isOpen" panelClass="pilm-accordion">
                                        <div class="pilm-accordion-data" *ngIf="targetProdCategory">
                                            <div class="by-category" *ngIf="'byCategory' === targetProdCategory.option">
                                                <div class="by-list" *ngFor="let catcard of catCards;">
                                                    <p class="list-name">{{catcard.lob}} : {{catcard.class}} : {{catcard.productLines}}</p>
                                                    <button class="anchor-link" *ngIf="catcard.parts && 0 < catcard.parts.length" (click)="viewExclusionList(catcard.parts)"
                                                            translate="COMMON.VIEW_EXC_LIST"></button>
                                                </div>
                                            </div>
                                            <div class="by-list" *ngIf="'byList' === targetProdCategory.option">
                                                <p class="list-name">{{targetProdCategory.listName}}</p>
                                                <button class="anchor-link" *ngIf="targetProdCategory.parts && 0 < targetProdCategory.parts.length" (click)="showParts()" translate="COMMON.VIEW_PARTS"></button>
                                            </div>
                                            <div *ngIf="'byBrand' === targetProdCategory.option">
                                                <div class="by-list" *ngFor="let brandCard of brandCards;">
                                                    <p class="list-name">{{brandCard.name}}</p>
                                                    <button class="anchor-link" *ngIf="brandCard.parts && 0 < brandCard.parts.length" (click)="showParts(brandCard.parts)" translate="COMMON.VIEW_EXC_LIST"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <navbar-fixed-bottom *ngIf="stepSettings" [buttons]="stepSettings.BUTTONS" (buttonClicked)="onAction($event)"></navbar-fixed-bottom>
    </div>
</div>
