@import '../../../styles/variables';
@import '../../../styles/mixins';
.approver-list-status {
    padding: 0;
    &.not-started {
        li {
            .circle {
                background: $body-bg !important;
            }
            &:before {
                background: $body-bg !important;
            }
        }
    }
    li {
        width: 100%;
        height: 34px;
        text-align: left;
        background: transparent;
        margin: 0 0 10px;
        color: $card-color;
        position: relative;
        line-height: 34px;
        display: block;
        &:before {
            content: '';
            position: absolute;
            left: 3.3px;
            top: -26px;
            height: 100%;
            width: 1px;
            background: #00a053;
            z-index: 1;
            min-height: 42px
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
        &.rejected {
            .circle {
                background: #933612 !important;
            }
            &:before {
                background: #933612 !important;
            }
            ~li {
                .circle {
                    background: $body-bg;
                }
                &:before {
                    background: $body-bg;
                }
            }
        }
        &.active {
            ~li {
                .circle {
                    background: $body-bg;
                }
                &:before {
                    background: $body-bg;
                }
            }
        }
        .approver,
        .circle-wrapper {
            height: 34px;
            display: inline-block;
            vertical-align: middle;
        }
        .approver {
            width: calc(100% - 25px);
            font-size: $font-sz-xs;
            .group-user-info {
                display: block;
                @include show-ellipsis();
                max-width: 100%;
                span {
                    margin-left: 5px;
                    color: $light-grey-title-color;
                }
                .approver-name {
                    @include font-wt-semi();
                    color: $card-color;
                }
            }
        }
        .circle-wrapper {
            width: 13px;
            padding-right: 5px;
            min-width: 13px;
            .circle {
                height: 8px;
                border-radius: 4px;
                background: #00a053;
                position: relative;
                z-index: 2;
                top: 13px;
            }
        }
    }
}