@import '../../../styles/variables';
@import '../../../styles/mixins';
.file-uploader {
    input {
        display: none;
    }
    background-color: white;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.21);
    border: solid 1px #dbdbdb;
    border-radius: 4px;
    padding: 10px;
    .file-holder {
        cursor: pointer;
        p {
            float: left;
            max-width: 160px;
            padding: 0 10px;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 0;
            height: 16.8px;
            @include show-ellipsis();
        }
    }
    .file-info {
        h5 {
            font-size: 11px;
            line-height: 11px;
            text-align: left;
            color: #acacac;
            margin: 0 0 10px;
        }
    }
    .close-btn {
        height: 11px;
        width: 11px;
    }
    &.disabled {
        @include disableField();
    }
}

.csvUpload {
    box-shadow: none;
    border: 0;
    padding: 0;
    .file-holder {
        p {
            height: auto;
            line-height: initial;
        }
    }
}
