<div class="file-uploader" [tooltip]="tooltipTemp" placement="top" triggers="" #tooltip="bs-tooltip" [ngClass]="{'disabled': !hasEditableField, 'csvUpload': isCsvUpload}">
    <input type="file" #fileInput accept="{{accept}}" (change)="onFileSelect($event)" />
    <div class="file-info" *ngIf="labelText">
        <h5>
            <span>{{labelText}}</span>
            <span *ngIf="options.w && options.h" translate="FILE.IMG_DIM" [translateParams]="{w: options.w, h: options.h}"></span>
        </h5>
    </div>
    <div class="file-holder clearfix">
        <img *ngIf="'image/*' === accept" src="assets/img/image_thumb.png" class="pull-left" height="16" width="16" />
        <img *ngIf="'application/pdf' === accept" src="assets/img/pdf_thumb.png" class="pull-left" height="16" width="16" />
        <p (click)="fileInput.click()">
            <span *ngIf="fileName">{{fileName}}</span>
            <span *ngIf="!fileName" translate="{{placeholder}}"></span>
        </p>
        <span class="close-btn pull-right" *ngIf="fileName" (click)="onFileRemove($event)"></span>
    </div>
</div>
<ng-template #tooltipTemp>
    <div class="tooltip-info">
        <div class="exclamation">
            <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="text">{{errorMsg}}</div>
    </div>
</ng-template>
