@import '../../../styles/variables';
@import '../../../styles/mixins';
.promo-images {
    .modal-content {
        .modal-dialog {
            width: 100%;
            .modal-header {
                margin-bottom: 20px;
                h4 {
                    margin-top: 0;
                    margin-bottom: 20px;
                }
            }
            .modal-body {
                .container-fluid {
                    padding: 0;
                    .col-md-12 {
                        position: relative;
                        background-color: white;
                        padding: 0;
                        .carousel-container {
                            height: calc(100vh - 260px);
                            padding-top: 20px;
                            position: relative;
                            .img-loader {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                .loading-spinner-dim-overlay {
                                    position: absolute;
                                    background: #333;
                                    opacity: 0.5;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1051;
                                }
                                .loading-spinner {
                                    position: absolute;
                                    opacity: 1;
                                    top: 50%;
                                    left: 50%;
                                    height: 72px;
                                    z-index: 1052;
                                    font-size: 2em;
                                    margin-left: -46.5px;
                                    margin-top: -36px;
                                    color: #E8E8E8;
                                }
                            }
                            .carousel {
                                height: 100%;
                                .carousel-inner {
                                    height: 100%;
                                    .carousel-item {
                                        .item {
                                            img {
                                                max-height: 100%;
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .img-groups {
                            display: inline-block;
                            max-width: 33.33%;
                            padding: 0 13px;
                            .group-name {
                                display: block;
                                font-size: 20px;
                                padding: 10px 2px;
                                border-radius: 0;
                                text-decoration: none;
                                @include font-wt-semi();
                                font-size: $font-sz-md;
                                text-align: center;
                                color: $link-color;
                                @include tablet {
                                    @include show-ellipsis();
                                }
                                &:hover {
                                    color: $link-color;
                                    border-bottom: 2px solid $border-color;
                                }
                            }
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding: 0 0 10px;
                            }
                            &.selected {
                                position: relative;
                                .group-name {
                                    color: $card-color;
                                    border-bottom: 2px solid $link-color;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}