<div class="modal-dialog">
    <div class="modal-header">
        <h4>
            <span translate="PROMOTION_DETAILS.PROMO_IMAGES"></span>
            <span class="close-btn clickable pull-right" (click)="bsModalRef.hide()"></span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="img-groups" *ngFor="let imageGroup of imageGroups" [ngClass]="{'selected': imageGroup.selected}">
                        <a class="group-name clickable" (click)="selectImageGroup(imageGroup)" translate="{{imageGroup.label}}"></a>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="carouselImages && carouselImages.length">
                <div class="col-md-12">
                    <div class="carousel-container">
                        <div class="img-loader" *ngIf="loadingImage">
                            <div class="loading-spinner-dim-overlay"></div>
                            <div class="loading-spinner">
                                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                </div>
                        </div>
                        <carousel>
                            <slide *ngFor="let imgUrl of carouselImages">
                                <img src="{{imgUrl}}" (load)="onImageLoad()" style="display: block; width: 100%;">
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>