@import '../../../styles/variables';
@import '../../../styles/mixins';
.cust-list-modal {
    // @include heightMinus(89px);
    .modal-content {
        padding: 30px !important;
        .modal-dialog {
            font-size: $font-sz-md;
            @include font-wt-semi();
            &.view-only {
                .tb-head {
                    .tb-cell {
                        &.cust-name {
                            width: 350px !important;
                        }
                    }
                }
                .modal-header {
                    .close-btn {
                        width: 20px;
                        height: 20px;
                    }
                }
                .modal-body {
                    .table {
                        tbody {
                            tr {
                                td {
                                    @include modal-padding(0);
                                    .inner-table {
                                        tr {
                                            td {
                                                @include modal-padding(10px);
                                                &.cust-name {
                                                    width: 350px !important;
                                                }
                                            }
                                            &:first-child {
                                                td {
                                                    @include apply-border-bottom();
                                                }
                                            }
                                            &:last-child {
                                                td {
                                                    border-bottom: 0 !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .fa {
                color: $check-box-color;
                @include font-wt-semi();
                font-size: $font-sz-md-x;
                cursor: pointer;
            }
            .modal-header {
                border-bottom: 0 !important;
                h4 {
                    color: $default-color;
                    margin-bottom: 20px;
                }
                .actions {
                    display: block;
                    height: 20px;
                    color: $anchor-color;
                    padding: 0 10px;
                    &.top {
                        margin-bottom: 10px;
                    }
                }
                .csv {
                    display: inline-block;
                    text-transform: uppercase;
                    color: #0099cc;
                    font-weight: 600;
                    font-size: 12px;
                    float: right;
                    margin-top: 5px;
                    &.download {
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
                .error_msg {
                    font-size: 12px;
                    i {
                        font-size: 12px;
                        color: #ff9d02;
                        padding-top: 6px;
                        padding-bottom: 8px;
                        padding-left: 12px;
                    }
                }
                .input-group {
                    width: 100%;
                    display: table;
                    margin-bottom: 20px;
                    input,
                    span {
                        display: table-cell;
                    }
                    input {
                        border: 1px solid #dbdbdb !important;
                        @include modal-radius(3px 0 0 3px);
                        height: 34.4px;
                        outline: none;
                        &:focus {
                            @include modal-shadow(none);
                        }
                    }
                    span {
                        width: 38px;
                        @include modal-radius(0 3px 3px 0);
                        border-left: 0;
                        font-size: 12px;
                        text-align: center;
                        font-size: $font-sz-md-x;
                        @include apply-border-top(#dbdbdb);
                        @include apply-border-right(#dbdbdb);
                        @include apply-border-bottom(#dbdbdb);
                    }
                }
            }
            .tb-head {
                display: table;
                width: 100%;
                .tb-cell {
                    display: table-cell;
                    @include apply-border-top();
                    @include apply-border-left();
                    vertical-align: top;
                    color: $default-color;
                    background-color: $container-bg;
                    &.cust-name {
                        width: 320px !important;
                    }
                    &:last-child {
                        @include apply-border-right();
                    }
                    @include modal-padding(10px);
                    &:first-child {
                        text-align: center;
                        width: 79px;
                        padding: 10px;
                        .select-sort {
                            display: block;
                            margin-bottom: 4px;
                            .sort-icon {
                                font-size: $font-sz-md;
                                width: 11px;
                                height: 18px;
                                position: relative;
                                display: inline-block;
                                left: 2px;
                                top: 2px;
                                .fa-sort-up,
                                .fa-sort-down {
                                    position: absolute;
                                    color: $card-color;
                                    left: 0;
                                    &.selected {
                                        color: $anchor-color;
                                    }
                                }
                                .fa-sort-up {
                                    top: 4px;
                                }
                                .fa-sort-down {
                                    bottom: -3px;
                                }
                            }
                        }
                    }
                }
            }
            .modal-body {
                padding: 0;
                max-height: 366px;
                margin-bottom: 20px;
                @include overflow-y(auto);
                padding-bottom: 2px !important;
                .table {
                    margin-bottom: 0;
                    tbody {
                        tr {
                            td {
                                @include apply-border-left();
                                &:last-child {
                                    @include apply-border-right();
                                }
                                .inner-table {
                                    width: 100%;
                                    tr {
                                        td {
                                            border-bottom: none;
                                            border-left: none;
                                            border-right: none;
                                            text-align: left;
                                            @include modal-padding(10px);
                                            &.cust-name {
                                                width: 320px !important;
                                            }
                                            .row {
                                                font-size: $font-sz-sm;
                                                .col-md-1,
                                                .col-md-11 {
                                                    padding: 0;
                                                }
                                                .col-md-1 {
                                                    max-width: 15px;
                                                    text-align: left;
                                                }
                                                .col-md-11 {
                                                    padding-left: 10px;
                                                    @include widthMinus(15px);
                                                    .col-separator {
                                                        margin: 0 10px;
                                                    }
                                                }
                                                p {
                                                    color: $border-color;
                                                    @include show-ellipsis();
                                                    @include apply-border-bottom();
                                                    padding-bottom: 10px;
                                                    margin-bottom: 10px;
                                                }
                                                &:last-child {
                                                    p {
                                                        border-bottom: 0;
                                                        padding-bottom: 0;
                                                        margin-bottom: 1px solid transparent;
                                                    }
                                                }
                                            }
                                        }
                                        &.expanded {
                                            &:first-child {
                                                td {
                                                    @include apply-border-bottom();
                                                }
                                            }
                                        }
                                        &:first-child {
                                            td {
                                                &:last-child {
                                                    @include apply-border-left();
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    tr {
                        td,
                        th {
                            padding: 0;
                            vertical-align: top;
                            @include apply-border-bottom();
                            &:first-child {
                                text-align: center;
                                width: 79px;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
            .actions {
                text-align: right;
            }
        }
    }
    .p_lr_0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
