<div class="modal-dialog">
    <form class="pilm-form" #custListFrm="ngForm" role="form">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-5 p_lr_0">
                    <h4 translate="TARGET_MARKET.MODAL.TITLE"></h4>
                </div>

                <div class="col-md-7" *ngIf="customerUpload">
                    <div class="csv download" (click)="downloadCsv()">{{'FILE.DWN_CSV' | translate}}</div>

                    <div class="csv pdf-upload">
                        <file-uploader
                            [options]="uploadConfig.csvOpt"
                            [isCsvUpload]="true"
                            [accept]="'.csv'"
                            [placeholder]="'FILE.UPLD_CSV'"
                            (uploadFile)="uploadCustomerFile($event)"
                            (cancelUpload)="cancelCustomerFileUpload($event)"
                        ></file-uploader>
                    </div>
                    <div class="error_msg" *ngIf="invalidCustomerUpload">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'FILE.INVALID_CSV' | translate}}
                    </div>
                </div>
            </div>
            <div class="input-group">
                <input type="text" name="filter" id="filter" class="form-control pilm-from-control" [(ngModel)]="searchTerm" #filter="ngModel"
                    placeholder="{{'TARGET_MARKET.PLACE_HOLDER.SEARCH_BY' | translate}}" (ngModelChange)="searchCustomer(searchTerm)">
                <span class="input-group-btn fa fa-search" *ngIf="!searchTerm || !searchTerm.length">
                </span>
                <span class="input-group-btn fa fa-times" (click)="searchTerm = ''" *ngIf="searchTerm && searchTerm.length">
                </span>
            </div>
        </div>
        <div class="tb-head">
            <div class="tb-cell clickable">
                <div class="select-sort" (click)="sortBySelection()">
                    <span translate="COMMON.SEL"></span>
                    <span class="sort-icon">
                        <i class="fa fa-sort-up" [ngClass]="{'selected': 'ALL' === sortBy}"></i>
                        <i class="fa fa-sort-down" [ngClass]="{'selected': 'NONE' === sortBy}"></i>
                    </span>
                </div>
                <!-- <i class="fa sort-icon fa-sort" (click)="sortBySelection()"
                [ngClass]="{'fa-sort-up': 'ALL' === sortBy, 'fa-sort-down': 'NONE' === sortBy}"></i> -->
                <i class="fa fa-square-o" (click)="toggleAllCustomerSelection()" [ngClass]="{'fa-square': 'SOME' === allCustomerSelection, 'fa-check-square': 'ALL' === allCustomerSelection}"></i>
            </div>
            <div class="tb-cell cust-name" translate="TARGET_MARKET.MODAL.CUST_NAME"></div>
            <div class="tb-cell" translate="TARGET_MARKET.MODAL.CUST_CD"></div>
        </div>
        <div class="modal-body">
            <table class="table outer-table">
                <tbody>
                    <ng-template ngFor let-customer [ngForOf]="customers " let-i="index"> <!--| myCustmerFilter:searchTerm -->
                        <tr>
                            <td>
                                <i class="fa fa-square-o" (click)="toggleCustomerSelection(customer)" [ngClass]="{'fa-square': 'SOME' === customer.selected, 'fa-check-square': 'ALL' === customer.selected}"></i>
                            </td>
                            <td colspan="2">
                                <table class="inner-table">
                                    <tr [ngClass]="{'expanded': customer.expanded}">
                                        <td class="cust-name">{{customer.name}}</td>
                                        <td>{{customer.customerNumber}}
                                            <i *ngIf="customer.contacts && customer.contacts.length" (click)="customer.expanded = !customer.expanded" class="fa pull-right" [ngClass]="{'fa-times': customer.expanded, 'fa-plus': !customer.expanded}"></i>
                                        </td>
                                    </tr>
                                    <tr *ngIf="customer.expanded">
                                        <td colspan="2" *ngIf="customer.contacts && 0 < customer.contacts.length">
                                            <div class="row" *ngFor="let contact of customer.contacts;">
                                                <div class="col-md-1">
                                                    <i (click)="toggleContactSelection(contact, customer)" class="fa fa-square-o" [ngClass]="{'fa-check-square': contact.selected}"></i>
                                                </div>
                                                <div class="col-md-11">
                                                    <div class="cust-name">
                                                        <span>{{contact.name}}</span>
                                                        <span>|</span>
                                                        <span>{{contact.email}}</span>
                                                    </div>
                                                    <p class="group-desc">{{contact.danaContactType}}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <div class="actions">
            <button type="button" (click)="cancelSelection()" class="btn btn-default" translate="BUTTONS.CANC"></button>
            <button type="submit" (click)="saveSelection()" class="btn btn-primary" translate="BUTTONS.SAVE"></button>
        </div>
    </form>
</div>
