<div class="modal-dialog">
    <form class="pilm-form" #adminConsoleFrm="ngForm" role="form">
        <div class="modal-header">
            <h4 class="modal-title">
                <span translate="HEADER.ADMIN_CONSOLE_LINK.TITLE"></span>
                <span class="close-btn pull-right" (click)="closePopover()"></span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row" *ngIf="approverGroups">
                    <div *ngFor="let approverGroup of approverGroups" class="col-md-6">
                        <div class="form-group clearfix" [ngClass]="{'invalid': errors[approverGroup.groupId] && errors[approverGroup.groupId].invalid}">
                            <label translate="APPROVAL_PROCESS.{{approverGroup.groupId}}"></label>
                            <select-box [defaultValue]="defaultText" [name]="approverGroup.groupId" [items]="approverGroup.groupUsers"
                                [key]="'name'" [isDropup]="false" [btnClass]="'btn-default cat-select'"></select-box>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button type="submit" (click)="saveChanges()" class="btn btn-primary" translate="BUTTONS.SAVE"></button>
            </div>
        </div>
    </form>
</div>