@import '../../../styles/variables';
@import '../../../styles/mixins';
.admin-console-modal {
    @media (min-width: 768px) {
        width: 698px;
    }
    .modal-content {
        .modal-dialog {
            @media (min-width: 768px) {
                width: 656px;
            }
            .modal-header {
                border-bottom: none !important;
                margin-bottom: 30px;
                .close-btn {
                    width: 20px;
                    height: 20px;
                }
            }
            .modal-body {
                .container-fluid {
                    padding: 0;
                    .col-md-6 {
                        padding: 0;
                        @include widthMinus(10px, 50%);
                        &:nth-child(odd) {
                            margin-right: 10px;
                        }
                        &:nth-child(even) {
                            margin-left: 10px;
                        }
                        @include tablet {
                            width: 100%;
                            &:nth-child(odd) {
                                margin-right: 0;
                            }
                            &:nth-child(even) {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}