<div class="define-promotion container-fluid" *ngIf="isTemplateReady && isPromoLoaded">
    <div class="row page-title">
        <h4 translate="DEFINE_PROMO.TITLE"></h4>
    </div>
    <div class="row page-body" (scroll)="onScroll($event)" scrollMe>
        <form class="pilm-form" #promoFrm="ngForm" role="form">
            <div class="form-group" [ngClass]="{'invalid': promoName.invalid && (promoName.dirty || promoName.touched)}" *ngIf="hasFormField('PROMO_NAME')">
                <label for="promoName">{{'COMMON.PROMO_NAME' | translate}} *</label>
                <input type="text" class="form-control pilm-form-control" name="promoName" placeholder="{{'DEFINE_PROMO.PLACE_HOLDER.PROMO_NAME' | translate}}"
                    [(ngModel)]="promoDetails.promoName" #promoName="ngModel" maxlength="50" [disabled] = "!hasEditableField('PROMO_NAME')" required>
                    <!-- <div class="error-box">
                        <div class="char-count"><span>{{promoDetails.promoName ? promoDetails.promoName.length : 0}}/50</span></div>
                    </div> -->
            </div>
            <div class="form-group" [ngClass]="{'invalid': promoShortDesc.invalid && (promoShortDesc.dirty || promoShortDesc.touched)}" *ngIf="hasFormField('SHORT_DESCRIPTION')">
                <label for="promoName">{{'DEFINE_PROMO.SHORT_DESC' | translate}} *</label>
                <input type="text" class="form-control pilm-form-control" name="promoShortDesc" placeholder="{{'DEFINE_PROMO.PLACE_HOLDER.SHORT_DESC' | translate}}"
                autocomplete="off"
                    [(ngModel)]="promoDetails.shortDescription" #promoShortDesc="ngModel" maxlength="250" [disabled] = "!hasEditableField('SHORT_DESCRIPTION')" required>
                    <!-- <div class="error-box">
                        <div class="char-count"><span>{{promoDetails.shortDescription ? promoDetails.shortDescription.length : 0}}/250</span></div>
                    </div> [disabled] = "!hasEditableField('LONG_DESCRIPTION')" -->
            </div>
            <div class="form-group" *ngIf="hasFormField('LONG_DESCRIPTION')">
                <label for="promoName">{{'DEFINE_PROMO.LONG_DESC' | translate}} </label>
                <textarea type="text" class="form-control pilm-form-control" name="promoLongDesc" placeholder="{{'DEFINE_PROMO.PLACE_HOLDER.LONG_DESC' | translate}}"
                    [(ngModel)]="promoDetails.longDescription" #promoLongDesc="ngModel" maxlength="1000"
                    [ngClass]="{'disabled-field': !hasEditableField('LONG_DESCRIPTION')}">

                </textarea>
                    <div class="char-count"><span>{{promoDetails.longDescription ? promoDetails.longDescription.length : 0}}/1000</span></div>
                </div>
            <div class="form-group clearfix">
                <div class="date-time-widget" [ngClass]="{'invalid': formValidated && startDtConfig.dateInvalid}">
                    <date-picker [dpConfig]="startDtConfig.bsConfig" (dateChanged)="onStartDateChange($event)" [label]="'DEFINE_PROMO.START_DT'"
                        [dateInvalid]="startDtConfig.dateInvalid" [minDate]="startDtConfig.minDate" [date]="promoDetails.startDate"
                        [dpName]="'startDate'" [disabled] = "!hasEditableField('START_DATE')">
                    </date-picker>
                </div>
                <div class="date-time-widget" [ngClass]="{'invalid': formValidated && endDtConfig.dateInvalid}">
                    <date-picker [(dpConfig)]="endDtConfig.bsConfig" (dateChanged)="onEndDateChange($event)" [label]="'DEFINE_PROMO.END_DT'"
                        [dateInvalid]="endDtConfig.dateInvalid" [minDate]="endDtConfig.minDate" [date]="promoDetails.endDate"
                        [disabled]="promoDetails.tempMeta.disableOtherDt || !hasEditableField('END_DATE')" [(autoSelected)]="endDtConfig.autoSelected" [dpName]="'endDate'">
                    </date-picker>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="date-time-widget" [ngClass]="{'invalid': formValidated && notificationDtConfig.dateInvalid}">
                    <date-picker [(dpConfig)]="notificationDtConfig.bsConfig" (dateChanged)="onNotifyDateChange($event)" [label]="'DEFINE_PROMO.NOTI_DT'"
                        [dateInvalid]="notificationDtConfig.dateInvalid" [minDate]="notificationDtConfig.minDate" [maxDate]="promoDetails.startDate"
                        [date]="promoDetails.notifyDt" [disabled]="promoDetails.tempMeta.disableOtherDt || !hasEditableField('NOTIFICATION_DATE')" [autoSelected]="notificationDtConfig.autoSelected"
                        [dpName]="'notifyDt'">
                    </date-picker>
                </div>
                <div class="date-time-widget time-picker" *ngIf="promoDetails.notifyTime">
                    <label>{{'DEFINE_PROMO.NOTI_TM' | translate}} *</label>
                    <div class="input-group">
                        <time-picker
                                [disabled]="(!notificationDtConfig.manualChange || promoDetails.tempMeta.disableOtherDt) || !hasEditableField('NOTIFICATION_TIME')"
                                [(selectedTime)]="promoDetails.notifyTime"></time-picker>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix" *ngIf="promoDetails.promoCode && hasFormField('PROMO_CODE')">
                <div class="default-promo-cd">
                    <label [ngClass]="{'disabled': !hasEditableField('PROMO_CODE')}" (click)="promoDetails.promoCode.isDefault = true;">
                        <i class="fa fa-circle-o" [ngClass]="{'fa-dot-circle-o': promoDetails.promoCode.isDefault}"></i>
                        {{'DEFINE_PROMO.DEF_PROMO_CD' | translate}} *
                    </label>
                    <input type="text" class="form-control pilm-form-control" name="defaultPromo" value="{{promoDetails.promoCode.defaultCode}}"
                           disabled>
                </div>
                <div class="default-promo-cd" [ngClass]="{'invalid': !isPromoCodeValid()}">
                    <label [ngClass]="{'disabled': !hasEditableField('PROMO_CODE')}" (click)="promoDetails.promoCode.isDefault = false;">
                        <i class="fa fa-circle-o" [ngClass]="{'fa-dot-circle-o': !promoDetails.promoCode.isDefault}"></i>
                        {{'DEFINE_PROMO.CUST_PROMO_CD' | translate}} *
                    </label>
                    <div class="input-group {{promoValStatus}}" [tooltip]="promoCdExist" containerClass="promo-cd-tooltip" placement="bottom"
                        triggers="" #promoCdtooltip="bs-tooltip">
                        <input type="text" class="form-control pilm-form-control" name="promoCode" placeholder="{{'DEFINE_PROMO.PLACE_HOLDER.PROMO_CODE' | translate}}"
                            [(ngModel)]="promoDetails.promoCode.customCode" #promoCode="ngModel"
                            (keyup)="removeWhiteSpace($event)"
                            [disabled]="promoDetails.promoCode.isDefault || !hasEditableField('PROMO_CODE')"
                            autocomplete="off"
                            minlength="6"
                            maxlength="25"
                            [required]="!promoDetails.promoCode.isDefault" (keyup)="validatePromoCode()">
                        <span class="input-group-addon" [ngClass]="{'disabled': 'invalid' === promoValStatus || promoDetails.promoCode.isDefault}">
                            <i class="fa fa-refresh" *ngIf="'complete' !== promoValStatus" [ngClass]="{'fa-spin': 'inProgress' === promoValStatus}"></i>
                            <img *ngIf="'complete' === promoValStatus" src="assets/img/valid_promo.png" />
                        </span>
                    </div>
                    <ng-template #promoCdExist>
                        <div class="tooltip-info">
                            <div class="exclamation">
                                <i class="fa fa-exclamation-triangle"></i>
                            </div>
                            <div class="text" translate="DEFINE_PROMO.ERRORS.PROMO_CD.{{promoCdErrKey}}"></div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <hr class="hr-row" />
            <div class="form-group clearfix">
                <div *ngIf="hasFormField('HEADER_IMAGE')" class="promo-upload_info">
                    <label>
                        {{'DEFINE_PROMO.UP_IMG' | translate}}
                        <i class="fa fa-question-circle"></i>
                    </label>
                </div>
                <div class="img-upload" *ngIf="hasFormField('HEADER_IMAGE')">
                    <file-uploader [options]="uploadConfig.headerImgOpt" [hasEditableField]="hasEditableField('HEADER_IMAGE')" [accept]="'image/*'" [placeholder]="'FILE.SEL_IMG'" (uploadFile)="uploadFile($event)" (cancelUpload)="cancelFileUpload($event)" [fileName]="_uploadedFiles['DEFINE_PROMO.HEADER_IMG'] && _uploadedFiles['DEFINE_PROMO.HEADER_IMG'].fileName"></file-uploader>
                </div>
                <div class="img-upload" *ngIf="hasFormField('BANNER_IMAGE')">
                    <file-uploader [options]="uploadConfig.bannerImgOpt" [hasEditableField]="hasEditableField('BANNER_IMAGE')" [accept]="'image/*'" [placeholder]="'FILE.SEL_IMG'" (uploadFile)="uploadFile($event)" (cancelUpload)="cancelFileUpload($event)" [fileName]="_uploadedFiles['DEFINE_PROMO.BANNER_IMG'] && _uploadedFiles['DEFINE_PROMO.BANNER_IMG'].fileName"></file-uploader>
                </div>
                <div class="img-upload" *ngIf="hasFormField('AD_IMAGE')">
                    <file-uploader [options]="uploadConfig.adImgOpt" [hasEditableField]="hasEditableField('AD_IMAGE')" [accept]="'image/*'" [placeholder]="'FILE.SEL_IMG'" (uploadFile)="uploadFile($event)" (cancelUpload)="cancelFileUpload($event)" [fileName]="_uploadedFiles['DEFINE_PROMO.AD_BANNER_IMG'] && _uploadedFiles['DEFINE_PROMO.AD_BANNER_IMG'].fileName"></file-uploader>
                </div>
            </div>
            <!-- For Mobile banner image upload-->
            <div class="form-group clearfix">
                <div  *ngIf="hasFormField('HEADER_IMAGE_MOBILE')" class="promo-upload_info">
                    <label>
                        {{'DEFINE_PROMO.UP_IMG_MOBILE' | translate}}
                        <i class="fa fa-question-circle"></i>
                    </label>
                </div>
                <div class="img-upload" *ngIf="hasFormField('HEADER_IMAGE_MOBILE')">
                    <file-uploader [options]="uploadConfig.headerImgOptMob" [hasEditableField]="hasEditableField('HEADER_IMAGE_MOBILE')" [accept]="'image/*'" [placeholder]="'FILE.SEL_IMG'" (uploadFile)="uploadFile($event)" (cancelUpload)="cancelFileUpload($event)" [fileName]="_uploadedFiles['DEFINE_PROMO.HEADER_IMG_MOB'] && _uploadedFiles['DEFINE_PROMO.HEADER_IMG_MOB'].fileName"></file-uploader>
                </div>
                <div class="img-upload" *ngIf="hasFormField('BANNER_IMAGE_MOBILE')">
                    <file-uploader [options]="uploadConfig.bannerImgOptMob" [hasEditableField]="hasEditableField('BANNER_IMAGE_MOBILE')" [accept]="'image/*'" [placeholder]="'FILE.SEL_IMG'" (uploadFile)="uploadFile($event)" (cancelUpload)="cancelFileUpload($event)" [fileName]="_uploadedFiles['DEFINE_PROMO.BANNER_IMG_MOB'] && _uploadedFiles['DEFINE_PROMO.BANNER_IMG_MOB'].fileName"></file-uploader>
                </div>
                <div class="img-upload" *ngIf="hasFormField('AD_IMAGE_MOBILE')">
                    <file-uploader [options]="uploadConfig.adImgOptMob" [hasEditableField]="hasEditableField('AD_IMAGE_MOBILE')" [accept]="'image/*'" [placeholder]="'FILE.SEL_IMG'" (uploadFile)="uploadFile($event)" (cancelUpload)="cancelFileUpload($event)" [fileName]="_uploadedFiles['DEFINE_PROMO.AD_BANNER_IMG_MOB'] && _uploadedFiles['DEFINE_PROMO.AD_BANNER_IMG_MOB'].fileName"></file-uploader>
                </div>
            </div>
        </form>
    </div>
</div>
