@import '../../../styles/variables';
@import '../../../styles/mixins';
.define-promotion {
    padding-left: 0;
    padding-right: 20px;
    margin-top: 20px;
    @include breakpoint(0, 992px) {
        padding-right: 0;
    }
    @include heightMinus(60px);
    @include tablet {
        height: auto;
    }
    .page-body {
        padding-right: 20px;
        @include heightMinus(45px);
        @include overflow-y(auto);
        @include tablet {
            height: auto;
            @include overflow-y(visible);
        }
        .pdf-upload {
            width: 229px;
        }
        .disabled-field {
            //@include disableField();
            background-color: #eeeeee;
            opacity: 1;
            cursor: not-allowed;
            pointer-events: none;
        }
        .promo-upload_info{
            position: relative;
            top: 20px;
            left: 5px;
        }
        .img-upload {
            width: 235px;
            float: left;
            margin-top: 21.8px;
            margin-right: 10px;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .default-promo-cd {
            width: 210px;
            float: left;
            margin-right: 20px;
            label {
                cursor: pointer;
                .fa {
                    font-size: $font-sz-md;
                    position: relative;
                    top: 0;
                }
            }
            &.invalid {
                .input-group {
                    input, .input-group-addon {
                        @include apply-border($error-color);
                        .fa-refresh {
                            color: #dbdbdb;
                        }
                    }
                }
            }
            .input-group {
                &.invalid {
                    input {
                        text-decoration: line-through;
                    }
                }
                input {
                    @include modal-radius(3px 0 0 3px);
                    @include tablet {
                        z-index: 0;
                    }
                }
                .input-group-addon {
                    background-color: white;
                    @include apply-border(#dbdbdb);
                    border-left: 0 !important;
                    @include modal-padding(0 9px);
                    font-size: $font-sz-md-x;
                    &.disabled {
                        .fa-refresh {
                            color: #dbdbdb;
                        }
                    }
                }
            }
            &:last-child {
                padding-right: 0;
            }
            .disabled {
                pointer-events: none;
            }
        }
    }
}
