@import '../../../styles/variables';
@import '../../../styles/mixins';
.select-box {
    display: block;
    height: 37.2px;
    .btn {
        width: 100%;
        padding-right: 20px !important;
        &:disabled {
            background-color: #dbdbdb;
            .caret {
                color: #bbbbbb;
            }
        }
        .sel-text {
            @include show-ellipsis();
            @include maxWidthMinus(40px);
            float: left;
            margin: 0;
            line-height: 18px;
        }
        .count {
            @include font-wt-bold();
        }
        .caret {
            position: absolute;
            top: 14px;
            right: 8px;
            color: #0099cc;
        }
        &:focus {
            outline: none;
        }
        input {
            min-width: 18px;
            width: 18px;
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
    .btn-default {
        @include apply-border(#dbdbdb);
        background-color: white;
        @include modal-padding(8.8px 10px);
        min-width: 55px;
        text-align: left;
    }
    &.dropup {
        .dropdown-menu {
            top: unset;
            bottom: 0;
        }
    }
    .dropdown-menu {
        min-width: 51px;
        height: auto;
        top: 34px;
        width: 100%;
        @include modal-padding(0);
        .input-group {
            width: 100%;
            display: table;
            @include modal-padding(0 10px);
            input,
            span {
                display: table-cell;
            }
            input {
                border: 1px solid #dbdbdb !important;
                @include modal-radius(3px 0 0 3px);
                height: 34.4px;
            }
            span {
                width: 34px;
                @include modal-radius(0 3px 3px 0);
                border-left: 0;
                font-size: 12px;
                text-align: center;
                @include apply-border-top(#dbdbdb);
                @include apply-border-right(#dbdbdb);
                @include apply-border-bottom(#dbdbdb);
            }
        }
        >li {
            margin-top: 10px;
            .actions {
                display: block;
                height: 20px;
                color: $anchor-color;
                padding: 0 10px;
                &.top {
                    margin-bottom: 10px;
                }
                &.bottom {
                    @include apply-border-top();
                    height: 40px;
                    padding: 10px;
                    .anchor-link {
                        margin-right: 5px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .items-container {
                max-height: 171px;
                overflow-y: auto;
                padding-bottom: 10px;
                .item {
                    @include modal-padding(5px 10px);
                    line-height: 20px;
                    outline: none;
                    text-align: left;
                    font-size: $font-sz-md;
                    @include font-wt-semi();
                    color: $card-color;
                    i {
                        color: #0099cc;
                        margin-right: 5px;
                        position: relative;
                        top: 1px;
                        @include font-wt-semi();
                        font-size: 16px;
                    }
                    &:hover, &.selected {
                        background-color: #F0F0F0;
                    }
                }
            }
        }
    }
}