<div class="btn-group select-box" dropdown [isDisabled]="disabled" [dropup]="isDropup" [isOpen]="isOpen" (onShown)="onShown()">
    <button type="button" class="btn pilm-form-control {{btnClass}}" (click)="isOpen = !isOpen" [disabled]="disabled">
        <p class="sel-text">{{selectedText}}</p>&nbsp;
        <span class="count" *ngIf="isMultiSelect && 0 < selectedCount">
            ({{selectedCount}})</span>
        <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li *ngIf="isFilter" class="search-box">
            <div class="input-group">
                <input type="text" name="filter" id="filter" class="form-control" 
                placeholder="{{placeholder | translate}}"
                [(ngModel)]="searchTerm"
                #filter="ngModel">
                <span class="input-group-btn fa fa-search" *ngIf="!searchTerm || !searchTerm.length">

                </span>
                <span class="input-group-btn fa fa-times clickable" (click)="resetSearchTerm($event)" *ngIf="searchTerm && searchTerm.length">
                </span>
            </div>
        </li>
        <li role="menuitem">
            <div class="actions top" *ngIf="isMultiSelect && items && items.length">
                <a class="anchor-link clickable pull-left" (click)="selectAll()" translate="BUTTONS.SEL_ALL"></a>
                <a class="anchor-link clickable pull-right" (click)="deSelectAll()" translate="BUTTONS.CLEAR"></a>
            </div>
            <div class="items-container">
                <div class="item clickable" [ngClass]="{'selected': key ? item.selected : selectedText === item}" *ngFor="let item of items | myFilter: 'name': searchTerm;"
                    (click)="selectItem(item)">
                    <i class="fa fa-square-o" *ngIf="isMultiSelect" [ngClass]="{'fa-check-square': item.selected}"></i>{{key ? item[key] : item}}
                </div>
            </div>
            <div class="actions bottom" *ngIf="isMultiSelect && items && items.length">
                <span class="pull-left"></span>
                <span class="pull-right">
                    <!-- <a class="anchor-link clickable" (click)="cancelSelection()" translate="BUTTONS.CANC"></a> -->
                    <a class="anchor-link clickable" (click)="commitSelection()" translate="BUTTONS.DONE"></a>
                </span>
            </div>
        </li>
    </ul>
</div>
