<div class="category-card card">
    <form class="pilm-form" #cateogyFrm="ngForm" role="form">
        <!--  [ngClass]="{'invalid': isFrmSubmitted && !catCard.selectedCount}" -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label translate="CONFIGURE_RULES.LOB"></label>*
                    <category-select-box [defaultValue]="catCard.lob"
                                         [disabled]="!lobList || !hasEditableField"
                                         [name]="'lob'" [placeholder]="'CONFIGURE_RULES.PLACE_HOLDER.SEARCH_LOB'" (onDpToggle)="onDpToggle($event)" [key]="'name'"
                                         [isDropup]="false" [isFilter]="false" [btnClass]="'btn-default cat-select'" [isMultiSelect]="true"
                                         (itemSelect)="onLobSelect($event)"
                                         [items]="lobList"
                                         (multiSelectAction)="onLobBulkAction($event)"
                    ></category-select-box>
                </div>
                <div class="col-md-4">
                    <label translate="CONFIGURE_RULES.CLS"></label>*
                    <category-select-box [defaultValue]="catCard.productClass"
                                         [disabled]="!classList||classList.length===0 || !hasEditableField"
                                         [placeholder]="'CONFIGURE_RULES.PLACE_HOLDER.SEARCH_CLS'" (onDpToggle)="onDpToggle($event)"
                                         [name]="'class'" [key]="'name'" [isDropup]="false" [isFilter]="true" [btnClass]="'btn-default cat-select'" [isMultiSelect]="true" [valueChange]="defaultValue"
                                         (itemSelect)="onClassSelect($event)"
                                         [items]="classList"
                                         (multiSelectAction)="onClassBulkAction($event)"
                    ></category-select-box>
                </div>
                <div class="col-md-4">
                    <label translate="CONFIGURE_RULES.PROD_LN"></label>*
                    <category-select-box [defaultValue]="catCard.productLine"
                                         [disabled]="!prodLines || prodLines.length===0 || !hasEditableField"
                                         [name]="'prodLine'" (onDpToggle)="onDpToggle($event)"
                                         [placeholder]="'CONFIGURE_RULES.PLACE_HOLDER.SEARCH_PROD_LN'"  [key]="'name'" [isDropup]="false" [isFilter]="true" [btnClass]="'btn-default cat-select'" [isMultiSelect]="true" [isMultiLevel]="true"
                                         (itemSelect)="onProdLineSelect($event)"
                                         [items]="prodLines"
                                         (multiSelectAction)="onProdLineBulkAction($event)"
                                         [valueChange]="defaultValue"
                    ></category-select-box>
                </div>
            </div>
            <div class="row actions">
                <button type="button" class="clickable anchor-link" (click)="viewExclusionModal()"
                        [disabled]="!prodLineSelected || !hasEditableField">
                    {{(isExcludePartsAvail ? 'COMMON.EDIT_EXC_PARTS' : 'COMMON.EXC_PROD') | translate}}
                </button>
                <button type="button" class="clickable anchor-link" (click)="viewExcPartList()"
                        [disabled]="!isExcludePartsAvail || !hasEditableField" translate="COMMON.VIEW_EXC_LIST">
                </button>
            </div>
        </div>
    </form>
</div>
