@import '../../styles/variables';
@import '../../styles/mixins';
.main-container {
    &.promotions {
        >.container-fluid {
            padding: 0;
            height: 100%;
            .inner-page-wrap {
                height: 100%;
                .inner-page-container {
                    height: 100%;
                    padding: 0;
                    &.promo-creation {
                        @include widthMinus(221px);
                        @include breakpoint(0, 992px) {
                            width: 100%;
                        }
                    }
                }
                .promo-aside-bar {
                    width: 221px;
                    padding: 0;
                    max-width: 100%;
                    asidebar {
                        display: block;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}