<div class="main-container promotions clearfix">
    <div class="container-fluid">
        <div class="row">
            <top-navbar [currentStepNo]="currentStep" [completedStage]="completedStage" (stepChange)="onStepChange($event)"></top-navbar>
        </div>
        <div class="row inner-page-wrap">
            <div class="inner-page-container col-md-9 promo-creation">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-3 promo-aside-bar">
                <asidebar *ngIf="promoDraft" [promoDraft]="promoDraft"></asidebar>
            </div>
        </div>
    </div>
    <navbar-fixed-bottom  *ngIf="stepSettings" [buttons]="stepSettings.BUTTONS" (buttonClicked)="setCurrentStep($event)"></navbar-fixed-bottom>
</div>
