@mixin breakpoint($min: 0, $max: 767px) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin overflow-x($overflow) {
    overflow-x: $overflow;
}

@mixin overflow-y($overflow) {
    overflow-y: $overflow;
}

@mixin max-height($height) {
    @media (max-height: #{$height - 1px}) {
        @content;
    }
}

@mixin min-height($height) {
    @media (min-height: #{$height - 1px}) {
        @content;
    }
}

@mixin checkbox {
    color: $fa-icon-color;
    font-size: $check-box-sz;
    cursor: pointer;
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin show-ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

@mixin word-wraps {
    word-break: break-word;
    display: inline-block;
}

/**
Usage
.box{
  @include border-radius(3px);
}
*/

@mixin modal-radius($radius: $modal-border-radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin modal-shadow($value: $modal-box-shadow) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
    @if $value=="unset" {
        box-shadow: none;
    }
}

@mixin modal-bg($bgColor: $modal-bg) {
    background-color: $bgColor;
}

@mixin modal-padding($modalPadding: 20px) {
    padding: $modalPadding;
}

@mixin modal-border($border) {
    border: 1px solid $border;
}

@mixin apply-border($color: $border-color) {
    border: 1px solid $color;
}

@mixin apply-border-top($color: $border-color) {
    border-top: 1px solid $color;
}

@mixin apply-border-right($color: $border-color) {
    border-right: 1px solid $color;
}

@mixin apply-border-bottom($color: $border-color) {
    border-bottom: 1px solid $color;
}

@mixin apply-border-left($color: $border-color) {
    border-left: 1px solid $color;
}

@mixin font-wt-light() {
    font-weight: $default-font-light;
}

@mixin font-wt-normal() {
    font-weight: $default-font-normal;
}

@mixin font-wt-semi() {
    font-weight: $default-font-semi;
}

@mixin font-wt-bold() {
    font-weight: $default-font-bold;
}

@mixin apply-min-dim($minWidth, $minHeight, $maxWidth) {
    min-width: $minWidth;
    min-height: $minHeight;
    max-width: $maxWidth;
}

@mixin widthPlus($delta, $max: 100%) {
    /* Firefox */
    width: -moz-calc(#{$max} + #{$delta});
    /* WebKit */
    width: -webkit-calc(#{$max} + #{$delta});
    /* Opera */
    width: -o-calc(#{$max} + #{$delta});
    /* Standard */
    width: calc(#{$max} + #{$delta});
}

@mixin maxWidthMinus($delta) {
    /* Firefox */
    max-width: -moz-calc(100% - #{$delta});
    /* WebKit */
    max-width: -webkit-calc(100% - #{$delta});
    /* Opera */
    max-width: -o-calc(100% - #{$delta});
    /* Standard */
    max-width: calc(100% - #{$delta});
}

@mixin widthMinus($delta, $max: 100%) {
    /* Firefox */
    width: -moz-calc(#{$max} - #{$delta});
    /* WebKit */
    width: -webkit-calc(#{$max} - #{$delta});
    /* Opera */
    width: -o-calc(#{$max} - #{$delta});
    /* Standard */
    width: calc(#{$max} - #{$delta});
}

@mixin heightPlus($delta) {
    /* Firefox */
    height: -moz-calc(100% + #{$delta});
    /* WebKit */
    height: -webkit-calc(100% + #{$delta});
    /* Opera */
    height: -o-calc(100% + #{$delta});
    /* Standard */
    height: calc(100% + #{$delta});
}

@mixin heightMinus($delta) {
    /* Firefox */
    height: -moz-calc(100% - #{$delta});
    /* WebKit */
    height: -webkit-calc(100% - #{$delta});
    /* Opera */
    height: -o-calc(100% - #{$delta});
    /* Standard */
    height: calc(100% - #{$delta});
}


/**
Usage
.modal-background{
  @include navLinksHeader();
}
*/

@mixin nav-links-header {
    font-size: 18px;
    color: #dedede;
}


/**
Usage
.anchor{
  @include anchorLinks();
}
*/

@mixin anchorLink($color: $anchor-color, $hover: $anchor-hover-color, $font: $font-sz-sm) {
    color: #{$color};
    font-size: #{$font};
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $default-font-semi;
    &:hover,
    &:focus {
        color: #{$hover};
    }
}

@mixin disableField(){
    color: $disable-link-color;
    pointer-events: none;
    opacity: 0.7;
}

/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
     ::-webkit-scrollbar {
        width: $size;
        height: $size;
        -webkit-border-radius: 3.5px;
        -moz-border-radius: 3.5px;
        -ms-border-radius: 3.5px;
        border-radius: 3.5px;
    }
     ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
     ::-webkit-scrollbar-track {
        background: $background-color;
    } // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}


/*@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}*/

@mixin tabletLandscape {
    @media (max-width: $desktop-width) {
        @content;
    }  
}

@mixin tablet {
    @media (max-width: $tablet-width) {
        @content;
    }    
}

@mixin touchDevice {
    @media (max-width: $breakpoint-tablet) {
        @content;
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes notification {
    0% {
        opacity: 0
    }
    25% {
        top: 50%;
        opacity: .25
    }
    50% {
        top: 50%;
        opacity: .5
    }
    75% {
        top: 50%;
        opacity: .75
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}


/* Standard syntax */


/* Safari 4.0 - 8.0 */

@-webkit-keyframes notification {
    0% {
        left: 0px;
        top: 0px;
    }
    30% {
        left: 0px;
        top: 155px;
    }
    70% {
        left: 0px;
        top: 155px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}


/* Standard syntax */

@keyframes notification {
    0% {
        left: 0px;
        top: 100px;
        opacity: 0
    }
    10% {
        left: 0px;
        top: 155px;
        opacity: 1
    }
    90% {
        left: 0px;
        top: 155px;
        opacity: 1
    }
    100% {
        left: 0px;
        top: 0px;
        opacity: 0
    }
}
