$nav-button-color: #00838F;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: "~font-awesome/fonts";
$FontPathOpenSans: "~npm-font-open-sans/fonts";

//General - top level

// Body Settings
$body-bg: #E8E8E8;
$body-max-height: 480px;
$border-color: #dbdbdb;
$bp-tablet: 192dpi;
$breakpoint-tablet: 768px;
$default-color: #6e6e6e;
$default-family-base: 'Open Sans';
$default-font-light: 300;
$default-font-normal: 400;
$default-font-semi: 600;
$default-font-bold: 700;
$desktop-width: 1024px;
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$tablet-width: 768px;
$box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
$light-grey-title-color: #acacac;
$link-color: #0099cc;
$check-box-color: #0099cc;
$check-box-sz: 16px;
$fa-icon-color: #0099cc;
$disable-link-color: #dbdbdb;
$active-color: #116639;
$disable-color: #acacac;

// Top nav settings
$top-nav-active-color: #116639;
$top-nav-current-color: #323232;
$top-nav-default-color: #dbdbdb;

// Default Font sizes
$font-sz-xs: 11px;
$font-sz-sm: 12px;
$font-sz-md: 14px;
$font-sz-md-x: 18px;
$font-sz-lg: 36px;

// Container Settings
$container-bg: #F6F6F6;
$container-radius: 4px;
$container-max-width: 100%;

// Card Settings
$card-bg: #FFFFFF;
$card-bx-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
$card-border: #dbdbdb;
$card-border-rad: 2px;
$card-padding: 10px;
$card-margin: 0 10px 10px 0;
$card-color: #323232;

// Error styling
$error-color: #ff9d02;

// Predefined Break-points
$breakpoints: (phone: 640px, tablet: 768px, desktop: 1024px) !default;

// Anchor tag settings
$anchor-color: #0099cc;
$anchor-hover-color: #217694;

// Logo settings
$logo-font-size: 18px;
$logo-font-wt: 600;


// Modal Settings
$modal-bg: #FFFFFF;
$modal-border-radius: 3px;
$modal-padding: 20px;
$modal-border-color: #C4C4C3;
$modal-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

// Notification Settings
$animation-duration: 2s;

// Form Settings
$form-control-border-radius: 3px;
$form-control-border-color: #FFFFFF;
$form-control-color: #323232;
