/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

@import 'variables';
@import "mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import '~font-awesome/scss/font-awesome';
@import '~npm-font-open-sans/open-sans';
@include scrollbars(7px, #cbcbcb);
body {
    &.pilm {
        height: 100%;
        width: 100%;
        font-family: $default-family-base;
        background: $body-bg;
        color: $default-color;
        font-size: $font-sz-sm;
        font-weight: $default-font-normal;
        padding-top: 51px;
        overflow-x: hidden;
        overflow-y: hidden; // auto if vertical scroll by is required for body tag
        @include breakpoint() {
            .col-xs-1,
            .col-sm-1,
            .col-md-1,
            .col-lg-1,
            .col-xs-2,
            .col-sm-2,
            .col-md-2,
            .col-lg-2,
            .col-xs-3,
            .col-sm-3,
            .col-md-3,
            .col-lg-3,
            .col-xs-4,
            .col-sm-4,
            .col-md-4,
            .col-lg-4,
            .col-xs-5,
            .col-sm-5,
            .col-md-5,
            .col-lg-5,
            .col-xs-6,
            .col-sm-6,
            .col-md-6,
            .col-lg-6,
            .col-xs-7,
            .col-sm-7,
            .col-md-7,
            .col-lg-7,
            .col-xs-8,
            .col-sm-8,
            .col-md-8,
            .col-lg-8,
            .col-xs-9,
            .col-sm-9,
            .col-md-9,
            .col-lg-9,
            .col-xs-10,
            .col-sm-10,
            .col-md-10,
            .col-lg-10,
            .col-xs-11,
            .col-sm-11,
            .col-md-11,
            .col-lg-11,
            .col-xs-12,
            .col-sm-12,
            .col-md-12,
            .col-lg-12 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        @include tablet {
            @include overflow-y(auto);
        }
        app {
            display: block;
            max-width: $container-max-width;
            padding-left: 0;
            padding-right: 0;
            @include breakpoint(0, 479px) {
                padding-left: 5px;
            }
            @include breakpoint(480px) {
                padding-left: 10px;
            }
            .pilm-arrow {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 8px solid #ACACAC;
                position: relative;
            }
            main {
                min-height: 480px;
                padding-left: 85px;
                padding-right: 0;
                overflow-y: hidden; //Remove over flow property if body takes care
                overflow-x: hidden;
                position: relative;
                margin-left: 20px;
                margin-top: 20px;
                @include breakpoint(0, 479px) {
                    padding-left: 79px;
                    margin-left: 5px;
                }
                @include breakpoint(480px, 768px) {
                    padding-left: 79px;
                    margin-left: 10px;
                }
                &.full-screen {
                    margin-left: 0;
                    margin-top: 0;
                    .main-container {
                        position: relative;
                        width: calc(100% + 87px);
                        left: -86px;
                        z-index: 1;
                        border-radius: unset;
                        top: 0;
                        height: 100%;
                        @media (max-width: 1024px) {
                            height: auto;
                        }
                    }
                }
                @media (max-width: 1128px) {
                    @include overflow-y(auto);
                }
                @include tablet {
                    @include overflow-y(visible);
                }
                .main-container {
                    margin-right: 20px;
                    background-color: $container-bg;
                    @include modal-border($border-color);
                    @include modal-radius($container-radius);
                    @include modal-shadow($box-shadow);
                    @include modal-padding($modal-padding);
                    @include breakpoint(0, 479px) {
                        margin-right: 5px;
                    }
                    @include breakpoint(480px, 768px) {
                        margin-right: 10px;
                    }
                    height: 100%;
                    @media (max-width: 1024px) {
                        min-height: 98%;
                        height: auto;
                    }
                    @include breakpoint(0, 768px) {
                        @include modal-padding(10px);
                    }
                    &.overlay {
                        position: absolute;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: 0;
                        @include modal-radius(0);
                    }
                    .page-title {
                        height: 45px;
                        width: 100%;
                        display: block;
                        font-size: $font-sz-md-x;
                        .back-btn,
                        .close-btn {
                            margin: 5px 0;
                        }
                        .back-btn {
                            margin-right: 10px;
                        }
                        .close-btn {
                            margin-left: 10px;
                        }
                    }
                    .page-body {
                        @include heightMinus(45px);
                        .col-xs-1,
                        .col-sm-1,
                        .col-md-1,
                        .col-lg-1,
                        .col-xs-2,
                        .col-sm-2,
                        .col-md-2,
                        .col-lg-2,
                        .col-xs-3,
                        .col-sm-3,
                        .col-md-3,
                        .col-lg-3,
                        .col-xs-4,
                        .col-sm-4,
                        .col-md-4,
                        .col-lg-4,
                        .col-xs-5,
                        .col-sm-5,
                        .col-md-5,
                        .col-lg-5,
                        .col-xs-6,
                        .col-sm-6,
                        .col-md-6,
                        .col-lg-6,
                        .col-xs-7,
                        .col-sm-7,
                        .col-md-7,
                        .col-lg-7,
                        .col-xs-8,
                        .col-sm-8,
                        .col-md-8,
                        .col-lg-8,
                        .col-xs-9,
                        .col-sm-9,
                        .col-md-9,
                        .col-lg-9,
                        .col-xs-10,
                        .col-sm-10,
                        .col-md-10,
                        .col-lg-10,
                        .col-xs-11,
                        .col-sm-11,
                        .col-md-11,
                        .col-lg-11,
                        .col-xs-12,
                        .col-sm-12,
                        .col-md-12,
                        .col-lg-12 {
                            padding: 0;
                        }
                        .card-section {
                            .card-cell {
                                color: $card-color;
                                @include modal-bg();
                                @include modal-radius();
                                @include apply-border(#cccccc);
                                @include modal-padding(10px);
                                margin-bottom: 10px;
                                h5 {
                                    color: #6e6E6E;
                                    @include font-wt-semi();
                                    margin: 0 0 5px;
                                    font-size: $font-sz-xs;
                                }
                                p {
                                    font-size: $font-sz-md;
                                    font-weight: $default-font-semi;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
            footer {
                &.app-footer {
                    max-height: 60px;
                    margin-right: 20px;
                    @include breakpoint(0, 479px) {
                        margin-right: 5px;
                    }
                    @include breakpoint(480px) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .clickable {
        cursor: pointer;
    }
    .expand {
        width: 10px;
        height: 10px;
        background-image: url('../assets/img/expand.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .error-box {
        .error-msg {
            text-align: right;
            color: $error-color;
            font-weight: $default-font-semi;
            padding-top: 3px;
        }
    }
    .char-count {
        font-weight: $default-font-semi;
        color: $light-grey-title-color;
        padding-top: 3px;
    }
    .pilm-modal {
        @include modal-shadow($modal-box-shadow);
        @include modal-radius($modal-border-radius);
        @include modal-bg($modal-bg);
        @include modal-padding(60px);
        display: block;
    }
    .pilm-form {
        .form-group {
            margin-bottom: 20px;
            &.invalid {
                .pilm-form-control {
                    @include apply-border($error-color);
                }
                .error-box {
                    display: block;
                }
                pilm-html-editor {
                    >.mce-tinymce {
                        @include apply-border($error-color);
                    }
                }
            }
            .error-box {
                display: none;
            }
            .pilm-form-control {
                @include modal-radius($form-control-border-radius);
                font-size: $font-sz-md;
                @include font-wt-semi();
                color: $form-control-color;
                @include apply-border(#dbdbdb);
                padding: 8.5px 10px;
                outline: none;
                &:focus {
                    @include modal-shadow(none);
                    border-color: #dbdbdb;
                    outline: none;
                }
                &.invisible {
                    visibility: hidden;
                    position: absolute;
                    z-index: -1;
                }
            }
            .date-time-widget {
                width: 145px;
                float: left;
                margin-right: 20px;
                &.invalid {
                    .input-group {
                        .pilm-form-control {
                            @include apply-border($error-color);
                        }
                    }
                }
                &.time-picker {
                    width: 186px;
                    .select-box-wrap {
                        .sel-text {
                            max-width: 100% !important;
                        }
                    }
                }
                .input-group {
                    @include tablet {
                        z-index: 0;
                    }
                    &.invalid {
                        .pilm-form-control {
                            @include apply-border($error-color);
                        }
                        .error-box {
                            display: block;
                        }
                    }
                    .error-box {
                        display: none;
                    }
                    input {
                        width: 120px;
                    }
                    img {
                        position: relative;
                        top: 7.5px;
                        left: 5px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            textarea {
                height: 64px;
            }
        }
    }
    .row {
        margin: 0;
    }
    h4 {
        font-size: 18px;
        font-weight: $default-font-semi;
        margin: 5px 0;
    }
    h5 {
        font-size: $font-sz-md;
        font-weight: $default-font-semi;
        margin: 5px 0;
    }
    button {
        &.anchor-link {
            background: none;
            border: none;
            padding: 0;
            outline: none;
            &:disabled {
                color: $disable-link-color;
                cursor: not-allowed;
            }
        }
    }
    .btn {
        min-width: 80px;
        text-align: center;
        font-size: 11px;
        font-weight: $default-font-semi;
        line-height: 15px;
        border-radius: 3px;
        text-transform: uppercase;
        &:disabled {
            background: #dbdbdb;
            color: #acacac;
            border: none;
            outline: none;
            &:hover,
            &:focus {
                background: #dbdbdb;
                color: #acacac;
            }
        }
        /* &.btn-default {
            &:disabled {
                background: #dbdbdb;
                color: #acacac;
            }
        } */
    }
    .btn-primary {
        background-color: #0099cc;
    }
    .btn-default {
        background-color: transparent;
        border: solid 2px #6e6e6e;
        &.inverse {
            background-color: #323232;
            border: solid 2px #232323;
            color: white;
        }
    }
    .hide {
        display: none !important;
    }
    .back-btn {
        background-image: url('../assets/img/back.png');
        width: 24px;
        height: 20px;
        cursor: pointer;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .close-btn {
        background-image: url('../assets/img/close.png');
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .close-btn-primary {
        background-image: url('../assets/img/collapse_btn.png');
        width: 11px;
        height: 11px;
        cursor: pointer;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .plus-btn {
        background-image: url('../assets/img/plus_btn.png');
        width: 14px;
        height: 14px;
        cursor: pointer;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .pilm-popup {
        @include breakpoint(0, 398px) {
            max-width: 100%;
            margin: 10px 0;
        }
        .modal-content {
            @include modal-radius(0);
            @include modal-padding(20px);
            .modal-dialog {
                max-width: 100%;
                margin: 0;
                .modal-header,
                .modal-body {
                    @include modal-padding(0);
                }
                .modal-header {
                    @include apply-border-bottom(#dbdbdb);
                    .modal-title {
                        color: $card-color;
                    }
                }
                .actions {
                    margin-top: 20px;
                    text-align: right;
                    .btn {
                        margin-right: 10px;
                        &.btn-default {
                            margin-top: 2px;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .panel-group {
        margin-bottom: 0;
        .panel {
            @include modal-shadow(none);
        }
        .pilm-accordion {
            @include modal-shadow(none);
            border: none;
            padding: 0;
            .panel-heading {
                @include modal-radius(0);
                padding: 0;
            }
            .panel-collapse {
                .panel-body {
                    border-top: none;
                    padding: 0;
                }
            }
        }
    }
    .editable-note-link {
        color: $link-color;
        font-size: $font-sz-sm;
        @include font-wt-semi();
    }
    .pi-checkbox {
        @include checkbox();
        @include font-wt-semi();
    }
    .card {
        @include modal-bg($card-bg);
        @include modal-border($card-border);
        @include modal-padding($card-padding);
        @include modal-radius($card-border-rad);
        @include modal-shadow($card-bx-shadow);
    }
    .vertical-line {
        height: 100%;
        width: 1px;
        margin: 0 20px;
        padding: 0;
        >div {
            width: 0;
            height: 100%;
            border-left: 1px dashed #dbdbdb;
            border-width: thin !important;
            margin: 0 auto;
        }
    }
    .col-span-21 {
        @include widthMinus(22px,
        16.66667%);
    }
    .bs-datepicker {
        z-index: 1030;
        left: 99px;
        margin-top: -3px;
        &.bottom {
            margin-top: 1px;
        }
        .bs-datepicker-head {
            background-color: #323232;
            button {
                &.next,
                &.previous {
                    span {
                        top: -2px;
                        left: -1px;
                    }
                }
            }
        }
        .bs-datepicker-body {
            table {
                td {
                    &:disabled {
                        &:last-child {
                            background-color: red;
                        }
                    }
                }
            }
        }
        &.auto-selected {
            .bs-datepicker-body {
                table {
                    td {
                        color: #54708b;
                        &.selected {
                            span {
                                background-color: transparent;
                                color: #54708b;
                            }
                        }
                        span {
                            &.selected {
                                background-color: transparent;
                                color: #54708b;
                            }
                        }
                    }
                }
            }
        }
    }
    .anchor-link {
        @include anchorLink();
    }
    .card-header {
        .approver-info {
            @include font-wt-semi();
        }
    }
    .hr-row {
        border: 1px dashed #dbdbdb;
        margin: 30px 0;
        border-width: thin !important;
    }
    .fa-dot-circle-o,
    .fa-refresh {
        color: #0099cc;
        &.fa-check-square-o {
            color: #45c500;
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 67px;
        height: 32px;
        input {
            display: none;
            &:checked+.slider {
                background-color: #45c500;
                &:before {
                    -webkit-transform: translateX(37px);
                    -ms-transform: translateX(37px);
                    transform: translateX(37px);
                }
            }
            &:focus+.slider {
                box-shadow: 0 0 1px #45c500;
            }
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 2px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #dbdbdb;
            -webkit-transition: .4s;
            transition: .4s;
            @include modal-shadow(0px 1px 5px 0 rgba(0,
            0,
            0,
            0.2));
            &.round {
                border-radius: 30px;
                &:before {
                    border-radius: 50%;
                }
            }
            &:before {
                position: absolute;
                content: "";
                height: 24px;
                width: 24px;
                left: 3px;
                top: 3px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
        }
    }
    .tooltip {
        min-width: 186px;
        &.promo-cd-tooltip {
            width: 211px;
            .tooltip-inner {
                max-width: none;
            }
        }
        &.top {
            .tooltip-arrow {
                border-top-color: #323232;
            }
        }
        &.right {
            margin-left: -3px;
            margin-top: 0;
            &.fyi-tooltip {
                margin-left: 2px;
                margin-top: 1px;
            }
            .tooltip-arrow {
                border-right-color: #323232;
            }
        }
        &.bottom {
            .tooltip-arrow {
                border-bottom-color: #323232;
            }
        }
        &.left {
            .tooltip-arrow {
                border-left-color: #323232;
            }
        }
        .tooltip-inner {
            padding: 10px 20px;
            background-color: #323232;
            @include modal-shadow();
            @include modal-radius();
            max-width: 220px;
            .tooltip-info {
                display: table;
                >div {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                    &.exclamation {
                        i {
                            margin-right: 10px;
                            color: $error-color;
                        }
                    }
                }
            }
        }
    }
    .action-modal {
        width: 390px;
        height: 458px;
        /* left: 50%;
        margin-left: -195px;
        top: 50%;
        margin-top: -229px; */
        z-index: 9999 !important;
        &.modal-top-zero {
            margin-top: 0 !important;
        }
        .modal-content {
            .modal-dialog {
                .modal-header {
                    @include modal-padding(0);
                    .modal-title {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    .action-img {
                        display: block;
                        height: 40px;
                        margin-bottom: 10px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        &.approved {
                            background-image: url('../assets/img/approve.png');
                        }
                        &.rejected {
                            background-image: url('../assets/img/reject.png');
                        }
                        &.rf {
                            background-image: url('../assets/img/rfi.png');
                        }
                        &.add-note {
                            background-image: url('../assets/img/addNote.png');
                        }
                        &.archived {
                            background-image: url('../assets/img/archive_action.png');
                        }
                    }
                }
                .modal-body {
                    .promo-details {
                        p,
                        h5 {
                            height: 20px;
                            line-height: 20px;
                            margin: 0 0;
                        }
                        .row {
                            margin-bottom: 10px;
                        }
                        p {
                            font-size: 16px;
                            font-weight: $default-font-semi;
                            @include word-wraps();
                            display: initial;
                        }
                        h5 {
                            color: #6e6E6E;
                            @include font-wt-semi();
                            float: left;
                            margin-right: 20px;
                        }
                    }
                    .reason {
                        h5 {
                            font-size: $font-sz-sm;
                        }
                        .pilm-form-control {
                            height: 100px;
                            background-color: #FAFAFA;
                            @include apply-border(#dbdbdb);
                            outline: none;
                            &:focus {
                                @include modal-shadow(none);
                                border-color: #dbdbdb;
                                outline: none;
                            }
                        }
                        &.invalid {
                            .pilm-form-control {
                                @include apply-border($error-color);
                            }
                        }
                    }
                    .promo-details,
                    .reason {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .modal {
        top: 21px;
    }
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance:textfield;
    }

    .download-report-modal {
        width: 390px;
        height: 458px;
        /* left: 50%;
        margin-left: -195px;
        top: 50%;
        margin-top: -229px; */
        z-index: 9999 !important;
        &.modal-top-zero {
            margin-top: 0 !important;
        }
        .modal-content {
            .modal-dialog {
                .modal-header {
                    @include modal-padding(0);
                    .modal-title {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    .action-img {
                        display: block;
                        height: 40px;
                        margin-bottom: 10px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-image: url('../assets/img/report_download.svg');
                    }
                }
                .modal-body {
                }
            }
        }
    }

}
