@import '../../../styles/variables';
@import '../../../styles/mixins';
.brand-card {
  padding: 20px 0 20px 20px;
  @include modal-shadow(0px 1px 3px 0 rgba(0, 0, 0, 0.2));
  @include apply-border(#dbdbdb);
  .form-group {
    margin-bottom: 0;
    .row {
      margin-bottom: 20px;
      .col-md-4 {
        padding-left: 0;
        padding-right: 20px;
        @include tablet {
          margin-bottom: 20px;
        }
        select-box {
          display: block;
          .select-box {
            display: block;
          }
        }
        select {
          padding: 6px 10px;
        }
      }
      &.actions {
        .anchor-link {
          margin-right: 20px;
          &.disabled {
            color: #dbdbdb;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
