<div class="brand-card card">
    <form class="pilm-form" #cateogyFrm="ngForm" role="form">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label translate="CONFIGURE_RULES.BRAND"></label>*
                    <select-box [defaultValue]="defaultText"
                                [disabled]="false" [name]="'brand'" (itemSelect)="onBrandSelect($event)"
                                [placeholder]="'CONFIGURE_RULES.SEARCH_BRANDS'"
                                [items]="brands"
                                [key]="'name'"
                                [isDropup]="false"
                                [isFilter]="true"
                                [btnClass]="'btn-default cat-select'"
                                [isMultiSelect]="true"
                    >

                    </select-box>
                </div>
            </div>

            <div class="row actions">
                <button type="button" class="clickable anchor-link" (click)="viewExclusionModal()"
                        [disabled]="!brandSelected || !hasEditableField">
                    {{(isExcludePartsAvail ? 'COMMON.EDIT_EXC_PARTS' : 'COMMON.EXC_PROD') | translate}}
                </button>
                <button type="button" class="clickable anchor-link" (click)="viewExcPartList()"
                        [disabled]="!isExcludePartsAvail || !hasEditableField" translate="COMMON.VIEW_EXC_LIST">
                </button>
            </div>


        </div>
    </form>
</div>
