<div class="container-fluid approval-screen">
    <div class="row page-title">
        <h4 translate="APPROVAL_PROCESS.TITLE"></h4>
    </div>
    <div class="row page-body" scrollMe>
        <div class="card-section" *ngIf="hasFormField('LIST_OF_APPROVERS')">
            <h5 class="sub-title" translate="APPROVAL_PROCESS.APP_LIST"></h5>
            <div class="row">
                <div class="col-md-3" *ngFor="let approver of promoApprovers">
                    <div class="card-cell">
                        <h5 translate="APPROVAL_PROCESS.{{approver.groupId}}"></h5>
                        <p>{{approver.name}}</p>
                        <h5 class="email">{{approver.email}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-row" />
        <div class="work-flow-image" *ngIf="hasFormField('SEQUENCE_OF_APPROVERS')">
            <h5 class="sub-title" translate="APPROVAL_PROCESS.APP_SEQ"></h5>
<!--            <img src="assets/img/workflow-sequence.png" width="752" height="413" />-->
            <img src="{{imageBaseUrl}}" width="752" height="413" />
        </div>
        <hr class="hr-row" />
        <div class="fyi-list" *ngIf="hasFormField('LIST_OF_FYI_USERS')">
            <form class="pilm-form" #promoFrm="ngForm" role="form">
                <h5 class="sub-title">
                    <span translate="APPROVAL_PROCESS.FYI_LIST"></span>
                    <i class="fa fa-question-circle" [tooltip]="fyiInfo" containerClass="fyi-tooltip" placement="right"></i>
                </h5>
                <ng-template #fyiInfo>
                    <div class="tooltip-info">
                        <div class="text" translate="APPROVAL_PROCESS.FYI_INFO"></div>
                    </div>
                </ng-template>
                <div class="row emial-wrapper">
                    <div class="email-container">
                        <div class="form-group" [ngClass]="{'invalid': email.invalid && (email.dirty || email.touched)}">
                            <input type="email" class="form-control pilm-form-control" name="email" placeholder="{{'APPROVAL_PROCESS.PLACE_HOLDER.EMAIL' | translate}}"
                                (blur)="resetForm()" [(ngModel)]="promoDetails.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                autocomplete="off" email>
                        </div>
                        <div class="add-btn">
                            <button type="submit" class="clickable anchor-link" (click)="addEmail()" [disabled]="email.invalid" translate="APPROVAL_PROCESS.ADD"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="email-list" *ngIf="promoDetails.fyiUsers && hasFormField('LIST_OF_FYI_USERS')">
            <div class="col-md-4 card" *ngFor="let user of promoDetails.fyiUsers; let i = index">
                <p>
                    <span>{{user}}</span>
                </p>
                <span class="close-btn pull-right" (click)="removeEmail(i)"></span>
            </div>
        </div>
    </div>
</div>
