@import '../../../styles/variables';
@import '../../../styles/mixins';
.approval-screen {
    padding-left: 0;
    padding-right: 20px;
    @include breakpoint(0, 992px) {
        padding-right: 0;
    }
    margin-top: 20px;
    @include heightMinus(60px);
    @include tablet {
        height: auto;
    }
    .page-body {
        padding-right: 20px;
        @include heightMinus(45px);
        @include overflow-y(auto);
        @include tablet {
            height: auto;
            @include overflow-y(visible);
        }
        .work-flow-image {
            img {
                max-width: 100%;
            }
        }
        .sub-title {
            color: $card-color;
            margin-bottom: 20px;
        }
        .email-list {
            .card {
                @include modal-shadow(0px 1px 5px 0 rgba(0, 0, 0, 0.21));
                @include apply-border(#dbdbdb);
                padding: 10px;
                width: auto;
                margin-right: 10px;
                margin-bottom: 10px;
                float: left;
                p {
                    float: left;
                    margin-bottom: 0;
                    font-size: $font-sz-sm;
                    @include font-wt-semi();
                    color: $card-color;
                    margin-right: 10px;
                }
                .close-btn {
                    width: 11px;
                    height: 11px;
                    position: relative;
                    top: 1px;
                }
            }
        }
        .fyi-list {
            .emial-wrapper {
                .email-container {
                    .form-group {
                        float: left;
                        @include breakpoint(0, 480px) {
                            margin-bottom: 2px;
                        }
                    }
                    .add-btn {
                        display: inline-block;
                        padding: 8px 0;
                        position: relative;
                        left: 10px;
                    }
                }
            }
            .sub-title {
                .fa-question-circle {
                    color: #6e6e6e;
                    position: relative;
                    left: 5px;
                    top: 1px;
                    cursor: pointer;
                }
            }
        }
        .card-section {
            .row {
                .col-md-3 {
                    .card-cell {
                        margin-right: 10px;
                        .email {
                            margin-bottom: 0;
                            margin-top: 5px;
                            @include show-ellipsis();
                            height: 14px;
                        }
                    }
                }
            }
        }
    }
}