<div class="modal-dialog">
    <div class="modal-header">
        <h4>
            <span translate="TARGET_MARKET.EMAIL_PREVIEW"></span>
            <span class="close-btn clickable pull-right" (click)="bsModalRef.hide()"></span>
        </h4>
    </div>
    <div class="email-subject" *ngIf="emailSubject">
        <label><span translate="PROMOTION_DETAILS.SUBJECT"></span>:</label>
        <p>{{emailSubject}}</p>
    </div>
    <div class="modal-body" [ngClass]="{'has-sub': emailSubject && emailSubject.length}">
        <div [innerHTML]="emailBody"></div>
    </div>
</div>