@import '../../../styles/variables';
@import '../../../styles/mixins';
.email-preview {
    height: calc(100% - 88px);
    width: 720px;
    max-width: 100%;
    .modal-content {
        width: 100%;
        height: 100%;
        padding: 0 !important;
        .modal-dialog {
            width: 100%;
            height: 100%;
            .modal-header {
                padding: 20px !important;
                font-size: 36px;
                margin-bottom: 20px;
            }
            .email-subject {
                font-size: 14px;
                font-weight: 600;
                padding: 0 20px;
                label {
                    float: left;
                    margin-right: 10px;
                    color: #6e6e6e;
                }
                p {
                    @include show-ellipsis();
                }
            }
            .modal-body {
                padding: 0 20px !important;
                @include heightMinus(110px);
                &.has-sub {
                    @include heightMinus(140px);
                }
                width: 100%;
                overflow: auto;
            }
        }
    }
}