@import '../../../styles/variables';
@import '../../../styles/mixins';
.list-view {
    display: block;
    @include heightMinus(89px);
    @include modal-padding(0);
    .update-link {
        display: block;
        margin-bottom: 20px;
        a {
            @include anchorLink();
        }
    }
    .select-list-wrap {
        // @include heightMinus(37px);
        display: block;
        max-width: 630px;
        /* @include overflow-y(auto);
        @include tablet {
            overflow-y: (visible);
        } */
        .col-md-6 {
            padding-left: 0;
            padding-right: 20px;
            margin-bottom: 10px;
            float: left;
            .list-warp {
                display: block;
                padding: 10px;
                font-size: $font-sz-md;
                @include font-wt-semi();
                @include modal-bg(white);
                @include apply-border(#dbdbdb);
                @include modal-radius();
                color: $card-color;
                height: 41.2px;
                .sel-text {
                    float: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include widthMinus(30px);
                    margin: 0;
                }
                .fa-check-circle {
                    color: #45c500;
                    font-size: $font-sz-md-x;
                    display: none;
                }
                &.selected {
                    @include modal-bg(#e8e8e8);
                    @include modal-shadow(0px 1px 3px 0 rgba(0, 0, 0, 0.2));
                    .fa-check-circle {
                        display: block;
                    }
                }
            }
        }
    }
    .disabled {
        @include disableField();
    }
}
