<div class="list-view container-fluid"  *ngIf="isTemplateReady && hasFormField('BY_LIST')">
    <div class="update-link" [ngClass]="{'disabled': !hasEditableField('BY_LIST')}">
        <a class="clickable" (click)="updateList()" translate="CONFIGURE_RULES.UPDT_LIST"></a>
    </div>
    <div class="select-list-wrap">
        <div class="col-md-6 " *ngFor="let list of prodList" [ngClass]="{'disabled': !hasEditableField('BY_LIST')}">
            <div class="list-warp clickable" (click)="selectList(list)" [ngClass]="{'selected': list.selected}">
                    <p class="sel-text">{{list.cartName}}</p>
                <i class="fa fa-check-circle pull-right"></i>
            </div>
        </div>
    </div>
</div>
