<h1>Embed Components here!!!</h1>
<button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>

<ng-template #template>
 <div class="modal-header">
   <h4 class="modal-title pull-left">Modal</h4>
   <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
   This is a modal.
 </div>
</ng-template>

<button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button>