/*****************************************************************
 * Proprietary & Confidential  |  © 2017 PhaseZero Ventures LLC  *
 * This is part of PhaseZero Ventures LLC and cannot be copied,  *
 * modified and/or distributed without the express permission of *
 * PhaseZero Ventures LLC                                        *
 *****************************************************************/


/**
 * @author: Irshadahmed
 */

body {
    &.pilm {
        app {
            box-shadow: 0px 0px 0px 1px #C4C4C3;
        }
    }
}