@import '../../../styles/variables';
@import '../../../styles/mixins';
.target-market {
    padding-left: 0;
    padding-right: 20px;
    @include breakpoint(0, 992px) {
        padding-right: 0;
    }
    margin-top: 20px;
    @include heightMinus(60px);
    @include tablet {
        height: auto;
    }
    .meta-action-modal {
        .modal-dialog {
            max-width: 380px;
            .modal-content {
                .modal-header, .modal-body {
                    padding: 0;
                    @include font-wt-semi();
                    margin-bottom: 20px;
                }
                .modal-header {
                    font-size: $font-sz-md-x;
                    padding-bottom: 10px;
                }
                .modal-body {
                    font-size: $font-sz-md;
                }
                .modal-footer {
                    text-align: right;
                    padding: 0;
                    border-top: none;
                }
            }
        }
    }
    .page-body {
        padding-right: 20px;
        @include heightMinus(45px);
        @include overflow-y(auto);
        @include tablet {
            height: auto;
            @include overflow-y(visible);
        }
        .section {
            max-width: 820px;
            .pilm-form {
                .target-cust-data {
                    padding: 20px 0 0 20px;
                    margin-bottom: 20px;
                    .col-md-4 {
                        padding-right: 20px;
                        @include tablet {
                            float: left;
                            width: 100%;
                        }
                        .form-group {
                            margin-bottom: 20px;
                        }
                    }
                    .select-option {
                        margin-bottom: 20px;
                        .col-md-6 {
                            padding: 0;
                            min-width: 106px;
                            float: left;
                            a {
                                display: inline-block;
                                font-size: $font-sz-md;
                                color: #6e6e6e;
                                max-width: 100%;
                                margin-bottom: 5px;
                                @include font-wt-bold();
                                outline: none;
                                text-decoration: none;
                                &:hover,
                                &:focus {
                                    color: #6e6e6e;
                                }
                                .fa {
                                    font-size: $font-sz-md-x;
                                }
                            }
                        }
                        .disabled {
                            @include disableField();
                        }
                    }
                    .actions {
                        display: block;
                        position: relative;
                        margin-top: 0;
                        //margin-bottom: 20px;
                        line-height: 34px;
                        height: 34px;
                        &.top {
                            margin-bottom: 10px;
                        }
                        @include breakpoint(0, 480px) {
                            height: auto;
                        }
                        &.reset-btn-wrap {
                            text-align: right;
                        }
                        @include tablet {
                            margin-top: 0;
                            margin-bottom: 20px;
                        }
                    }
                    .col-md-2 {
                        float: right;
                        padding-right: 20px;
                    }
                    .col-md-6 {
                        float: left;
                        .actions {
                            .anchor-link {
                                margin-right: 10px;
                                &:last-child{
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
                .form-group {
                    margin-bottom: 20px;
                    .multi-use {
                        max-width: 95px;
                        padding-right: 20px;
                        padding-left: 5px;
                    }
                    .email-opt {
                        font-size: $font-sz-sm;
                        color: $card-color;
                        line-height: 12px;
                        @include font-wt-semi();
                        .fa-check-square {
                            color: $anchor-color;
                            font-size: $font-sz-md-x;
                            margin-right: 5px;
                        }
                        .fa-square-o {
                            color: $anchor-color;
                            font-size: $font-sz-md-x;
                            margin-right: 5px;
                        }
                    }
                    .pdf-upload {
                        width: 229px;
                        @include breakpoint(0, 480px) {
                            width: auto;
                        }
                    }
                    textarea {
                        height: 285px;
                    }
                    &.invalid {
                        .email-template {
                            @include apply-border($error-color);
                        }
                    }
                    .email-template {
                        height: 285px;
                        @include overflow-y(auto);
                        @include tablet {
                            height: auto;
                            @include overflow-y(visible);
                        }
                        @include apply-border(#dbdbdb);
                        outline: none;
                        &:focus {
                            background-color: white;
                            .placeholder {
                                display: none;
                            }
                        }
                        position: relative;
                        padding-right: 20px;
                        .fa-archive {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                        .placeholder {
                            border: 2px dashed #dbdbdb;
                            width: 50%;
                            height: 120px;
                            margin: 71px auto;
                            text-align: center;
                            vertical-align: middle;
                            .paste {
                                font-size: 24px;
                                height: 40px;
                                margin: 40px auto;
                                .fa-code {
                                    font-size: 30px;
                                    margin-right: 10px;
                                    position: relative;
                                    top: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
