<div class="target-market container-fluid" *ngIf="isTemplateReady">
    <div class="row page-title">
        <h4 translate="TARGET_MARKET.TITLE"></h4>
    </div>
    <div class="row page-body">
        <div class="section">
            <form class="pilm-form" #promoFrm="ngForm" role="form">
                <div class="target-cust-data container-fluid card">
                    <div class="col-md-4" *ngIf="hasFormField('LINE_OF_BUSINESS')">
                        <div class="form-group clearfix" [ngClass]="{'invalid': errors.lineOfBusiness.invalid}">
                            <label>{{'CONFIGURE_RULES.LOB' | translate}}</label>
                            <select-box [defaultValue]="defaultText" [disabled]="!metadata.channel || !hasEditableField('LINE_OF_BUSINESS')" [name]="'lob'" (itemSelect)="onLobSelect($event)"
                                [placeholder]="'TARGET_MARKET.PLACE_HOLDER.SEARCH_LOB'" [items]="metadata.lineOfBusiness" [key]="'name'"
                                [isDropup]="false" [isFilter]="true" [btnClass]="'btn-default cat-select'" [isMultiSelect]="true"></select-box>
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="hasFormField('CHANNEL_CODE')">
                        <div class="form-group clearfix" [ngClass]="{'invalid': errors.channel.invalid}">
                            <label>{{'TARGET_MARKET.CHANNEL' | translate}}</label>
                            <select-box [defaultValue]="defaultText" [disabled]="!metadata.channel || !hasEditableField('CHANNEL_CODE')" [name]="'channel'" (itemSelect)="onChannelCodeSelect($event)"
                                [placeholder]="'TARGET_MARKET.PLACE_HOLDER.SEARCH_CD'" [items]="metadata.channel" [key]="'name'"
                                [isDropup]="false" [isFilter]="true" [btnClass]="'btn-default cat-select'" [isMultiSelect]="true"></select-box>
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="hasFormField('BUYING_GROUPS')">
                        <div class="form-group clearfix" [ngClass]="{'invalid': errors.buyingGroup.invalid}">
                            <label>{{'TARGET_MARKET.BUY_GRP' | translate}}</label>
                            <select-box [defaultValue]="defaultText" [disabled]="!metadata.buyingGroup || !hasEditableField('BUYING_GROUPS')" [name]="'buyingGroup'" (itemSelect)="onBuyingGroupCodeSelect($event)"
                                [placeholder]="'TARGET_MARKET.PLACE_HOLDER.SEARCH_BG'" [items]="metadata.buyingGroup" [key]="'name'"
                                [isDropup]="false" [isFilter]="true" [btnClass]="'btn-default cat-select'" [isMultiSelect]="true"></select-box>
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="hasFormField('RTB_CODE')">
                        <div class="form-group clearfix" [ngClass]="{'invalid': errors.rtb.invalid}">
                            <label>{{'TARGET_MARKET.RTB_CD' | translate}}</label>
                            <select-box [defaultValue]="defaultText" [disabled]="!metadata.rtb || !hasEditableField('RTB_CODE')" [name]="'rtb'" (itemSelect)="onRtbSelect($event)" [items]="metadata.rtb"
                                [placeholder]="'TARGET_MARKET.PLACE_HOLDER.SEARCH_RTB'" [key]="'name'" [isDropup]="false" [isFilter]="true"
                                [btnClass]="'btn-default cat-select'" [isMultiSelect]="true"></select-box>
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="metadata.contactType && !isAutoCustomerList && !isAllCustomerEnable">
                            <div class="form-group clearfix">
                                <label>{{'TARGET_MARKET.CONTACT_TYPE' | translate}}</label>
                                <select-box [defaultValue]="defaultText" [disabled]="!hasEditableField('CONTACT_TYPE')" [name]="'contactType'" (itemSelect)="onContactTypeSelect($event)" [items]="metadata.contactType"
                                    [placeholder]="'TARGET_MARKET.PLACE_HOLDER.SEARCH_CT_TYPE'" [key]="'name'" [isDropup]="false" [isFilter]="true"
                                    [btnClass]="'btn-default cat-select'" [isMultiSelect]="true"></select-box>
                            </div>
                    </div>

                    <div class="col-md-6">
                        <div class="select-option">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="clickable" (click)="selectAllCustomer(true)" [ngClass]="{'disabled': !hasEditableField('CUSTOMER')}">
                                        <i class="fa fa-circle-o" [ngClass]="{'fa-dot-circle-o': isAllCustomer}"></i>
                                        {{'TARGET_MARKET.ALL_CUST_LIST' | translate}}
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a class="clickable" (click)="selectAllCustomer(false)" [ngClass]="{'disabled': !hasEditableField('CUSTOMER')}">
                                        <i class="fa fa-circle-o" [ngClass]="{'fa-dot-circle-o': !isAllCustomer}"></i>
                                        {{'TARGET_MARKET.FEW_CUST_LIST' | translate}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" *ngIf="!isAllCustomer">
                        <div class="actions">
                            <button class="clickable anchor-link" (click)="showCustomerList()" translate="{{targetMarket.customers.length ? 'TARGET_MARKET.EDIT_CUST_LIST' : 'TARGET_MARKET.GET_CUST_LIST'}}"
                                    [disabled]="!hasEditableField('CUSTOMER') || (isAutoCustomerList || isAllCustomerEnable ? false: !selectedCount)">
                            </button>
                            <button class="clickable anchor-link" (click)="viewSelectedCustomers()" translate="TARGET_MARKET.VIEW_CUST_LIST"
                                    [disabled]="!targetMarket.customers.length || !hasEditableField('CUSTOMER')">

                            </button>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="!isAllCustomerEnable">
                        <div class="actions reset-btn-wrap">
                            <button class="btn btn-default" (click)="resetSelection()" [disabled]="!hasEditableField('CUSTOMER')" translate="BUTTONS.RESET"></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12" *ngIf="hasFormField('FIRST_ORDER_FLAG')">
                        <div class="col-md-2 multi-use">
                            <label for="multiUse">{{'TARGET_MARKET.FIRST_ORDER' | translate}}</label>
                            <label class="switch">
                                <input type="checkbox" name="firstOrderName" [(ngModel)]="firstOrder" #firstOrderName="ngModel" [disabled]="!hasEditableField('FIRST_ORDER_FLAG')">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group" *ngIf="hasFormField('PROMO_NOTIFICATION_METHOD')">
                    <label>{{'TARGET_MARKET.PROMO_NOTIFY' | translate}}</label>
                    <div class="email-opt">
                        <i class="fa fa-check-square" *ngIf="promoDetails.email.sendEmail" (click)="promoDetails.email.sendEmail = !promoDetails.email.sendEmail"></i>
                        <i class="fa fa-square-o" *ngIf="!promoDetails.email.sendEmail" (click)="promoDetails.email.sendEmail = !promoDetails.email.sendEmail"></i>
                        <span>{{promoDetails.promoNotificationMethod}}</span>
                    </div>
                </div>

                <div *ngIf="promoDetails.email.sendEmail">
                    <div class="form-group" [ngClass]="{'invalid': subject.invalid && (subject.dirty || subject.touched)}"  *ngIf="hasFormField('EMAIL_SUBJECT')">
                        <label for="subject">{{'TARGET_MARKET.EMAIL_SUB' | translate}}</label>
                        <input type="text" class="form-control pilm-form-control" name="subject" placeholder="{{'TARGET_MARKET.PLACE_HOLDER.SUB' | translate}}"
                               autocomplete="off"
                               [(ngModel)]="promoDetails.email.subject" #subject="ngModel" required>
                    </div>
                </div>

                <div *ngIf="!promoDetails.email.sendEmail">
                    <div class="form-group" *ngIf="hasFormField('EMAIL_SUBJECT')">
                        <label for="subject">{{'TARGET_MARKET.EMAIL_SUB' | translate}}</label>
                        <input type="text" class="form-control pilm-form-control" name="subject" placeholder="{{'TARGET_MARKET.PLACE_HOLDER.SUB' | translate}}"
                               autocomplete="off"
                               [(ngModel)]="promoDetails.email.subject" #subject="ngModel">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'invalid': promoDetails.email.sendEmail ? errors.emailBody.invalid: false}" *ngIf="hasFormField('EMAIL_BODY')">
                    <label>{{'TARGET_MARKET.EMAIL_BODY' | translate}}</label>
                    <pilm-html-editor
                    [elementId]="'my-editor-id'"
                    [content]="promoDetails.email.body"
                    (onEditorKeyup)="keyupHandlerFunction($event)">
                  </pilm-html-editor>
                </div>
                <div class="form-group" [ngClass]="{'invalid': errors.pdf.invalid}" *ngIf="hasFormField('EMAIL_ATTACHMENT')">
                    <div class="pdf-upload">
                        <label for="frequency">{{'TARGET_MARKET.EMAIL_ATTACH' | translate}}</label>
                        <file-uploader [options]="uploadConfig.pdfOpt" [accept]="'application/pdf'" [placeholder]="'FILE.SEL_PDF'" (uploadFile)="uploadFile($event)"
                            (cancelUpload)="cancelFileUpload($event)" [fileName]="pdfName"></file-uploader>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal pilm-popup meta-action-modal fade" bsModal #metaAction="bs-modal" tabindex="-1" role="dialog"
        aria-labelledby="metaActionModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" translate="COMMON.ACTION_REQD"></div>
                <div class="modal-body" translate="TARGET_MARKET.ERRORS.CUSTOMERS.META_CHANGED">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" (click)="revertProceed()" translate="BUTTONS.REVERT_PROCEED">
                    </button>
                    <button class="btn btn-primary" (click)="reSelectCustomers()" translate="BUTTONS.RES_CUST">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
