@import '../../../styles/variables';
@import '../../../styles/mixins';
.part-list-modal {
    &.full-screen {
        @include heightMinus(89px);
    }
    .modal-content {
        height: 100%;
        padding:  30px !important;
        .modal-dialog {
            height: 100%;
            .modal-header {
                h3 {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                border-bottom: none !important;
                .close-btn {
                    width: 20px;
                    height: 20px;
                }
            }
            .modal-body {
                @include heightMinus(59px);
                .content {
                    height: 100%;
                    .search-box {
                        .input-group {
                            width: 100%;
                            .pilm-form-control {
                                @include modal-radius(3px 0 0 3px);
                                background-color: white;
                            }
                            .input-group-btn {
                                display: table-cell;
                                width: 36px;
                                text-align: center;
                                @include apply-border-top();
                                @include apply-border-right();
                                @include apply-border-bottom();
                                @include modal-radius(0 3px 3px 0);
                                background-color: white;
                            }
                            .fa-search {
                                color: $fa-icon-color;
                            }
                        }
                    }
                    .category-list {
                        @include heightMinus(41.4px);
                        .tb-head {
                            display: table;
                            width: 100%;
                            .tb-cell {
                                display: table-cell;
                                @include apply-border-top();
                                @include apply-border-left();
                                vertical-align: top;
                                color: $default-color;
                                background-color: $container-bg;
                                padding: 10px;
                                &:last-child {
                                    @include apply-border-right();
                                }
                                @include modal-padding(10px);
                                &:first-child {
                                    text-align: center;
                                    width: 73px;
                                }
                                &.part-no {
                                    width: 200px;
                                }
                            }
                        }
                        .tb-body {
                            @include heightMinus(38px);
                            overflow-y: auto;
                            .table {
                                width: 100%;
                                margin-bottom: 0;
                                tr {
                                    td {
                                        vertical-align: middle;
                                        font-size: 13px;
                                        @include font-wt-semi();
                                        @include apply-border-top();
                                        @include apply-border-left();
                                        border-bottom: none;
                                        padding: 10px;
                                        &:last-child {
                                            @include apply-border-right();
                                        }
                                        &.part-no {
                                            width: 200px;
                                        }
                                        .part-desc {
                                            @include show-ellipsis();
                                            max-width: 310px;
                                        }
                                    }
                                    &:last-child {
                                        td {
                                            @include apply-border-bottom();
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}