<div class="modal-dialog">
    <div class="modal-header">
        <h3>
            <span translate="{{titleKey}}"></span>
            <span class="close-btn clickable pull-right" (click)="bsModalRef.hide()"></span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="content" *ngIf="parts">
            <div class="actions top">
                <div class="search-box">
                    <form class="pilm-form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="filter" id="filter" class="form-control pilm-form-control" placeholder="{{searchBy | translate}}"
                                    [(ngModel)]="searchTerm" #filter="ngModel">
                                <span class="input-group-btn fa fa-search" *ngIf="!searchTerm || !searchTerm.length">

                                </span>
                                <span class="input-group-btn fa fa-times clickable" (click)="searchTerm = ''" *ngIf="searchTerm && searchTerm.length">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="category-list">
                <div class="tb-head">
                    <div class="tb-cell part-no" translate="CONFIGURE_RULES.PART_No"></div>
                    <div class="tb-cell" translate="CONFIGURE_RULES.PART_DESC"></div>
                </div>
                <div class="tb-body">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let part of parts | mySearchFilter:searchTerm">
                                <td class="part-no">
                                    <div class="part-name">{{part.originalPartNumber}}</div>
                                </td>
                                <td>
                                    <div class="part-desc">{{part.shortDescription}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>