@import '../../../styles/variables';
@import '../../../styles/mixins';
.pagination {
  >.disabled {
    >a {
      background-color: #E6E6E6 !important;
    }
  }
}

.fa-caret-down,
.fa-caret-left,
.fa-caret-right,
.fa-caret-up {
  color: $fa-icon-color;
}

.exc-prod-modal {
  @include heightMinus(58px);
  @include widthMinus(120px);
  @include tablet {
    width: 100%;
  }
  max-width: 1280px;
  margin-top: 10px;
  .modal-content {
    width: 100%;
    height: 100%;
    padding: 30px !important;
    .modal-dialog {
      width: 100%;
      height: 100%;
      .modal-header {
        border-bottom: none !important;
        h3 {
          margin-top: 0;
          margin-bottom: 20px;
        }
      }
    }
    .modal-body {
      @include heightMinus(46.4px);
      @include tablet {
        @include overflow-y(auto);
        padding-right: 5px !important;
      }
      .container-fluid {
        padding: 0;
        height: 100%;
        .left-panel {
          @include modal-padding(0);
          width: 230px;
          height: 100%;
          @include tablet {
            height: auto;
            float: left;
            width: 100%;
          }
          h4 {
            margin: 0 0 10px;
          }
          .list-group {
            &.wrapper {
              height: calc(100% - 40px);
              overflow-y: auto;
              margin-right: 20px;
            }
            .list-group-item {
              border-radius: 0;
              border: none;
              cursor: pointer;
              padding-bottom: 0;
              padding-right: 0;
              &.selected {
                .item-name {
                  color: $card-color;
                  @include font-wt-bold();
                  @include word-wraps();
                  padding-right: 5px;
                }
              }
              .item-name {
                padding-right: 5px;
                @include font-wt-semi();
                .fa {
                  margin-right: 5px;
                }
                @include word-wraps();
              }
            }
          }
        }
        .right-panel {
          @include modal-padding(0);
          @include widthMinus(230px);
          height: 100%;
          @include tablet {
            height: auto;
            float: left;
            width: 100%;
          }
          .content {
            width: 100%;
            @include modal-padding(20px);
            height: 100%;
            .category-list {
              @include heightMinus(86.4px);
              .tb-head {
                display: table;
                width: 100%;
                .tb-cell {
                  display: table-cell;
                  @include apply-border-top();
                  @include apply-border-left();
                  vertical-align: top;
                  color: $default-color;
                  background-color: $container-bg;
                  padding: 10px;
                  &:last-child {
                    @include apply-border-right();
                  }
                  @include modal-padding(10px);
                  &:first-child {
                    text-align: center;
                    width: 73px;
                  }
                  &.part-no {
                    width: 200px;
                  }
                }
              }
              .tb-body {
                @include heightMinus(73px);
                &.increment-ht {
                  @include heightMinus(20px);
                }
                overflow-y: auto;
                .table {
                  width: 100%;
                  margin-bottom: 0;
                  tr {
                    td {
                      vertical-align: middle;
                      font-size: 13px;
                      @include font-wt-semi();
                      @include apply-border-top();
                      @include apply-border-left();
                      border-bottom: none;
                      padding: 10px;
                      &:first-child {
                        width: 73px;
                        text-align: center;
                      }
                      &:last-child {
                        @include apply-border-right();
                      }
                      &.part-no {
                        width: 200px;
                      }
                      .part-desc {
                        @include show-ellipsis();
                      }
                    }
                    &:last-child {
                      td {
                        @include apply-border-bottom();
                      }
                    }
                  }
                }
              }
            }
            .actions {
              width: 100%;
              height: 40px;
              display: table;
              margin-top: 0;
              @include tablet {
                margin-top: 10px;
              }
              .pagination-container {
                width: auto;
                display: table;
                margin: 0 auto;
                .pager,
                .pagination {
                  display: table-cell;
                  @include font-wt-semi();
                }
                .pagination {
                  padding-top: 2px;
                }
                .pager {
                  width: auto;
                  color: $card-color;
                  padding: 10px;
                }
              }
              &.top {
                .btn-wrap,
                .search-box {
                  display: table-cell;
                  vertical-align: middle;
                }
                .search-box {
                  width: 55%;
                  .input-group {
                    width: 100%;
                    .pilm-form-control {
                      @include modal-radius(3px 0 0 3px);
                      background-color: $container-bg;
                    }
                    .input-group-btn {
                      display: table-cell;
                      width: 36px;
                      text-align: center;
                      @include apply-border-top();
                      @include apply-border-right();
                      @include apply-border-bottom();
                      @include modal-radius(0 3px 3px 0);
                      background-color: $container-bg;
                    }
                  }
                }
                .btn-wrap {
                  .btn {
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

