<div class="modal-dialog">
    <div class="modal-header">
        <h3>
            <span translate="CONFIGURE_RULES.EXC_PROD"></span>
            <span class="close-btn clickable pull-right" (click)="closeModal()"></span>
        </h3>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
            <div class="col-md-2 left-panel">
                <h4 translate="CONFIGURE_RULES.BRAND"></h4>
                <ul class="list-group wrapper">
                    <li class="list-group-item" *ngFor="let brand of categories" [ngClass]="{'selected': selectedBrand.name === brand.name}">
                        <div class="item-name" (click)="setBrandParts(brand)">
                            {{brand.name}}
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-10 right-panel">
                <div class="content card" *ngIf="parts">
                    <div class="actions top">
                        <div class="search-box">
                            <form class="pilm-form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="filter" id="filter" class="form-control pilm-form-control" placeholder="{{'CONFIGURE_RULES.PART_NO_OR_NAME' | translate}}"
                                               [(ngModel)]="searchTerm"
                                               (keyup)="searchParts()"
                                               #filter="ngModel">
                                        <span class="input-group-btn fa fa-search" *ngIf="!searchTerm || !searchTerm.length">

                                        </span>
                                        <span class="input-group-btn fa fa-times clickable" (click)="resetSearchTerm($event)" *ngIf="searchTerm && searchTerm.length">

                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="btn-wrap">
                            <button class="btn btn-primary pull-right" (click)="closeModal(true)" translate="BUTTONS.DONE"></button>
                        </div>
                    </div>

                    <div class="category-list">
                        <div class="tb-head">
                            <div class="tb-cell" translate="CONFIGURE_RULES.SEL_TO_EXC">
                            </div>
                            <div class="tb-cell part-no" translate="CONFIGURE_RULES.PART_No"></div>
                            <div class="tb-cell" translate="CONFIGURE_RULES.PART_DESC"></div>
                        </div>
                        <div class="tb-body" [ngClass]="{'increment-ht': 10 > totalItems}">
                            <table class="table">
                                <tbody>
                                <tr *ngFor="let part of parts">
                                    <td>
                                        <i class="fa pi-checkbox fa-square-o" [ngClass]="{'fa-check-square': part.selected}" (click)="togglePartSelection(part)">
                                        </i>
                                    </td>
                                    <td class="part-no"><div class="part-name">{{part.originalPartNUmber}}</div></td>
                                    <td><div class="part-desc">{{part.partDesc}}</div></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="actions bottom" *ngIf="10 < totalItems">
                        <div class="pagination-container" *ngIf="pager">
                            <div class="pager">{{pager}} {{'COMMON.OF' | translate}} {{totalItems}}</div>
                            <div class="pagination">
                                <pagination [directionLinks]="true" [boundaryLinks]="false" [totalItems]="totalItems" class="pagination-sm"
                                            (pageChanged)="pageChanged($event)"
                                            [rotate]="false"
                                            itemsPerPage="{{itemsPerPage}}"
                                            [maxSize]="maxSize"
                                            previousText="&laquo;" nextText="&raquo;"></pagination>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

</div>
