<div class="container-fluid main-container download-report-screen">
    <div class="row page-title">
        <h4 translate="REPORT.TITLE"></h4>
    </div>
    <div class="row page-body" *ngIf="downloadReport" scrollMe>
        <form class="pilm-form" role="form">
            <div class="row date-picker-container">
                
                <div class="form-group clearfix">

                    <div class="date-time-widget" [ngClass]="{'invalid': formValidated && startDtConfig.dateInvalid}">
                        <date-picker [dpConfig]="startDtConfig.bsConfig" (dateChanged)="onStartDateChange($event)"
                            [label]="'DEFINE_PROMO.START_DT'" [dateInvalid]="startDtConfig.dateInvalid" [minDate]="startDtConfig.minDate"
                            [date]="report.startDate" [dpName]="'startDate'" [maxDate]="startDtConfig.maxDate" [isPlaceBottom]="true">
                        </date-picker>
                    </div>

                    <div class="date-time-widget" [ngClass]="{'invalid': formValidated && endDtConfig.dateInvalid}">
                        <date-picker [(dpConfig)]="endDtConfig.bsConfig" (dateChanged)="onEndDateChange($event)"
                            [label]="'DEFINE_PROMO.END_DT'" [dateInvalid]="endDtConfig.dateInvalid" [minDate]="endDtConfig.minDate"
                            [date]="report.endDate" [disabled]="report.tempMeta.disableOtherDt"
                            [(autoSelected)]="endDtConfig.autoSelected" [dpName]="'endDate'" [maxDate]="endDtConfig.maxDate" [isPlaceBottom]="true">
                        </date-picker>
                    </div>

                    <div class="date-time-widget" style="padding-top: 23px;">
                            <button (click)="downloadReport()" class="btn btn-primary" translate="BUTTONS.DOWNLOAD" style="margin-left: 50px;"></button>
                    </div>


                </div>
<!-- 
                <div class="row">
                    <div class="btn-wrapper download-button">
                        <button (click)="downloadReport()" class="btn btn-primary" translate="BUTTONS.DOWNLOAD"></button>
                    </div>
                </div> -->
            </div>
        </form>


    </div>
</div>
