@import '../../../styles/variables';
@import '../../../styles/mixins';
.download-report-screen {
    @include heightMinus(60px);
    @include tablet {
        height: auto;
    }
    .page-body {
        padding: 0 10px;
        @include heightMinus(45px);
        @include overflow-y(auto);
        @include tablet {
            height: auto;
            @include overflow-y(visible);
        }
        .download-button {
            text-align: center;
            margin-top: 50px;
        }
    }
}