@import '../../../styles/variables';
@import '../../../styles/mixins';
.goals {
    padding-left: 0;
    padding-right: 20px;
    margin-top: 20px;
    @include breakpoint(0, 992px) {
        padding-right: 0;
    }
    @include heightMinus(60px);
    @include tablet {
        height: auto;
    }
    .page-body {
        padding-right: 20px;
        @include heightMinus(45px);
        @include overflow-y(auto);
        @include tablet {
            height: auto;
            @include overflow-y(visible);
        }
        .pilm-form {
            .select-option {
                label {
                    font-size: $font-sz-md;
                    &.disabled {
                        @include disableField();
                    }
                    .fa {
                        font-size: $font-sz-md-x;
                    }
                }
            }
            .col-md-4, .col-md-8 {
                padding: 0;
                float: left;
                &.awareness {
                    padding-left: 80px;
                }
            }
            .form-group {
                input {
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }
        }
    }
}
