<div class="goals container-fluid" *ngIf="isTemplateReady">
    <div class="row page-title">
        <h4 translate="GOALS.TITLE"></h4>
    </div>
    <div class="row page-body">
        <form class="pilm-form" #promoFrm="ngForm" role="form">
            <div class="form-group clearfix">
                <div class="row select-option">
                    <div class="col-md-4">
                        <label class="clickable" [ngClass]="{'disabled': disableGoalDetails || !hasEditableField('GOAL_DETAILS')}" (click)="toggleGoals(false)">
                            <i class="fa fa-circle-o" [ngClass]="{'fa-dot-circle-o': !awarenessOnly}"></i>
                            {{'GOALS.GOL_DET' | translate}}
                        </label>
                    </div>
                    <div class="col-md-8 awareness">
                        <label class="clickable" (click)="toggleGoals(true)">
                            <i class="fa fa-circle-o" [ngClass]="{'fa-dot-circle-o': awarenessOnly, 'disabled': !hasEditableField('AWARENESS_ONLY')}"></i>
                            {{'GOALS.AWARE' | translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" [ngClass]="{'invalid': penetration.invalid && (penetration.dirty || penetration.touched)}" *ngIf="hasFormField('PENETRATION')">
                        <label for="penetration">{{'GOALS.PENETRATION' | translate}}</label>
                        <input class="form-control pilm-form-control" name="penetration" placeholder="{{'GOALS.PLACE_HOLDER.PENETRATION' | translate}}"
                        type="number"
                        min="0"
                        max="99999"
                        pattern="^[0-9]{1,5}$"
                            [(ngModel)]="promoDetails.penetration" #penetration="ngModel" [required]="!awarenessOnly"
                            [autofocus]="!awarenessOnly"
                            [disabled]="awarenessOnly || !hasEditableField('PENETRATION')">
                    </div>
                    <div class="form-group" [ngClass]="{'invalid': volume.invalid && (volume.dirty || volume.touched)}"  *ngIf="hasFormField('PURCHASE_VOLUME')">
                        <label for="volume">{{'GOALS.VOL' | translate}}</label>
                        <input class="form-control pilm-form-control" name="volume"
                        type="number"
                        min="0"
                        max="99999"
                        pattern="^[0-9]{1,5}$"
                        placeholder="{{'GOALS.PLACE_HOLDER.VOL' | translate}}"
                            [(ngModel)]="promoDetails.purchaseFrequency" #volume="ngModel" [required]="!awarenessOnly"
                            [disabled]="awarenessOnly || !hasEditableField('PENETRATION')">
                    </div>
                    <div class="form-group" [ngClass]="{'invalid': frequency.invalid && (frequency.dirty || frequency.touched)}" *ngIf="hasFormField('PURCHASE_FREQUENCY')">
                        <label for="frequency">{{'GOALS.FREQ' | translate}}</label>
                        <input class="form-control pilm-form-control" name="frequency"
                        type="number" placeholder="{{'GOALS.PLACE_HOLDER.FREQ' | translate}}"
                        min="0"
                        max="99999"
                        pattern="^[0-9]{1,5}$"
                            [(ngModel)]="promoDetails.purchaseVolume" #frequency="ngModel" [required]="!awarenessOnly"
                            [disabled]="awarenessOnly || !hasEditableField('PENETRATION')">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
