@import '../../../styles/variables';
@import '../../../styles/mixins';
.top-nav-bar {
    >li {
        width: 20%;
        position: relative;
        overflow: visible;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        @include tablet {
            border-right: 0;
            border-left: 0;
        }
        +li {
            margin-left: 0;
        }
        &:first-child {
            border-left: 0;
            /* a {
                border-radius:5px 0 0 5px;
            } */
        }
        &:last-child {
            border-right: 0;
            /* a {
                border-radius:0 5px 5px 0;
            } */
        }
        a {
            border-radius: 0;
            background-color: $top-nav-default-color;
            @include font-wt-semi();
            font-size: $font-sz-md;
            text-align: center;
            color: white;
            height: 40px;
            padding: 0;
            line-height: 40px;
            @include tablet {
                @include show-ellipsis();
                padding: 0 10px;
            }
            &:last-child {
                display: none;
            }
        }
        &:not(:last-child) a:after {
            position: absolute;
            content: "";
            top: 0px;
            right: -20px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 20px 0 20px 20px;
            border-color: transparent transparent transparent $top-nav-default-color;
            z-index: 150;
        }
        &:not(:first-child) a:before {
            position: absolute;
            content: "";
            top: 0px;
            left: -20px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 20px 0 20px 20px;
            border-color: $top-nav-default-color $top-nav-default-color $top-nav-default-color transparent;
            z-index: 150;
        }
        &.disabled {
            a {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
            }
        }
        /* &:hover {
            &:not(:last-child) a:after {
                border-color: transparent transparent transparent #aaa;
            }
            &:not(:first-child) a:before {
                border-color: #aaa #aaa #aaa transparent;
            }
            a {
                background-color: #aaa;
                color: #ffffff;
            }
        } */
        &.completed {
            &:not(:last-child) a:after {
                border-color: transparent transparent transparent $top-nav-active-color;
            }
            &:not(:first-child) a:before {
                border-color: $top-nav-active-color $top-nav-active-color $top-nav-active-color transparent;
            }
            a {
                background-color: $top-nav-active-color;
            }
        }
        &.active {
            &:not(:last-child) a:after {
                border-color: transparent transparent transparent $top-nav-current-color;
            }
            &:not(:first-child) a:before {
                border-color: $top-nav-current-color $top-nav-current-color $top-nav-current-color transparent;
            }
            a {
                background-color: $top-nav-current-color;
            }
        }
    }
}