<div class="main-container choose-template clearfix">
    <div class="row page-title">
        <h4 translate="CHOOSE_TEMPLATE.TITLE"></h4>
    </div>
    <div class="row page-body">
        <div class="template-card-wrap" *ngFor="let template of templates">
            <template-card [template]="template" (selectTemplate)="selectTemplate($event)"></template-card>
        </div>
    </div>
    <navbar-fixed-bottom [buttons]="stepSettings.BUTTONS" (buttonClicked)="createPromotion($event)"></navbar-fixed-bottom>
</div>
