.template-card-wrap {
    width: 200px;
    float: left;
    height: 280px;
    margin-right: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
}