<div class="modal-dialog view-only">
    <form class="pilm-form" #custListFrm="ngForm" role="form">
        <div class="modal-header">
            <h4><span translate="TARGET_MARKET.MODAL.TITLE"></span><span class="close-btn pull-right" (click)="bsModalRef.hide()"></span></h4>
            <div class="input-group">
                <input type="text" name="filter" id="filter" class="form-control pilm-from-control" [(ngModel)]="searchTerm" #filter="ngModel"
                    placeholder="{{'TARGET_MARKET.PLACE_HOLDER.SEARCH_BY' | translate}}">
                <span class="input-group-btn fa fa-search" *ngIf="!searchTerm || !searchTerm.length">
                </span>
                <span class="input-group-btn fa fa-times" (click)="searchTerm = ''" *ngIf="searchTerm && searchTerm.length">
                </span>
            </div>
        </div>
        <div class="tb-head">
            <div class="tb-cell cust-name" translate="TARGET_MARKET.MODAL.CUST_NAME"></div>
            <div class="tb-cell" translate="TARGET_MARKET.MODAL.CUST_CD"></div>
        </div>
        <div class="modal-body">
            <table class="table outer-table">
                <tbody>
                    <ng-template ngFor let-customer [ngForOf]="customers | myCustmerFilter:searchTerm" let-i="index">
                        <tr>
                            <td colspan="2">
                                <table class="inner-table">
                                    <tr [ngClass]="{'expanded': customer.expanded}">
                                        <td class="cust-name">{{customer.name}}</td>
                                        <td>{{customer.customerNumber}}</td>
                                    </tr>
                                    <tr *ngIf="customer.contacts && 0 < customer.contacts.length">
                                        <td colspan="2">
                                            <div class="row" *ngFor="let contact of customer.contacts;">
                                                <div class="col-md-12">
                                                    <div class="cust-name">
                                                        <span>{{contact.name}}</span>
                                                        <span>|</span>
                                                        <span>{{contact.email}}</span>
                                                    </div>
                                                    <p class="group-desc">{{contact.danaContactType}}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </form>
</div>