@import '../../../styles/variables';
@import '../../../styles/mixins';
.pilm-fixed-navbar {
    background-color: transparent;
    z-index: 1022;
    .container-fluid {
        max-width: $container-max-width;
        height: 56px;
        background-color: #ededed;
        @include modal-shadow(-0px -2px 10px 0 rgba(145,
        62,
        62,
        0.40));
        @include modal-padding(0 20px);
        @include breakpoint(0, 398px) {
            height: auto;
            padding-bottom: 13px;
        }
        .btn-wrapper {
            .btn {
                padding: 8px 15px;
                margin-right: 10px;
                font-size: $font-sz-sm;
                text-transform: uppercase;
                border: none;
                margin-top: 13px;
                &.bordered {
                    border: solid 2px #6e6e6e;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}