/*****************************************************************
 * Proprietary & Confidential  |  © 2017 PhaseZero Ventures LLC  *
 * This is part of PhaseZero Ventures LLC and cannot be copied,  *
 * modified and/or distributed without the express permission of *
 * PhaseZero Ventures LLC                                        *
 *****************************************************************/


/**
 * @author: Irshadahmed
 */

@import '../../../styles/variables';
@import '../../../styles/mixins';
.pending-task {
    margin: 0 0 10px;
    padding: 0;
    @include modal-border($card-border);
    @include modal-radius($card-border-rad);
    @include modal-shadow($card-bx-shadow);
    width: 100%;
    float: right;
    &.status-view {
        width: 309px;
        float: left;
        margin-right: 10px;
        @include breakpoint(0,
        936px) {
            width: 100%;
        }
    }
    @include breakpoint (0,
    1024px) {
        max-width: 100%;
        float: left;
    }
    &.apply-border {
        border: 2px solid transparent;
        &:hover {
            border: solid 2px #295B6C;
        }
    }
    .hr-row {
        margin: 15px 0;
    }
    .card-header {
        .approver-info {
            b {
                margin-left: 5px;
                @include show-ellipsis();
            }
        }
    }
    .card-section {
        @include modal-bg($card-bg);
        @include modal-padding($card-padding);
        &:focus {
            outline: none;
        }
        .card-body {
            p {
                font-size: 16px;
                font-weight: $default-font-semi;
                height: 20px;
                @include show-ellipsis();
                &:last-child {
                    margin-bottom: 0;
                }
            }
            h5 {
                color: #acacac;
                font-weight: normal;
            }
        }
    }
    .card-footer {
        height: 67px;
        padding: 15px 10px;
        border-top: 1px solid #e8e8e8;
        width: calc(100% + 2px);
        // margin-left: -1px;
        text-align: center;
        @include breakpoint(0, 480px) {
            height: auto;
            padding-bottom: 0;
        }
        .btn {
            // margin-right: 5px;
            padding: 6px 8px;
            @include breakpoint(0, 480px) {
                margin-right: 0;
                margin-bottom: 20px;
                margin-left: 20px;
            }
        }
        .btn-footer{
            min-width: 60px;
        }
    }
}
