<div class="pending-task {{cssClass}} col-md-3" [ngClass]="{'apply-border': applyBorder}">
    <div class="card-section clickable" [routerLink]="['/promotions', promotion.promoId, 'details']">
        <div class="card-header">
            <h5 *ngIf="titleKey">{{'PROMOTION_STATUS.'+titleKey | translate}}
                <i class="expand pull-right"></i>
            </h5>
            <p class="approver-info" *ngIf="promotion.approver && 'PENDING_APPROVAL' === titleKey">
                <span translate="APPROVAL_PROCESS.{{promotion.approver.groupId || 'NOT_AVL'}}"></span>
                <span *ngIf="promotion.approver.groupId">:</span>
                <b>{{promotion.approver.name}}</b>
            </p>
        </div>
        <hr class="hr-row" />
        <div class="card-body">
            <h5 translate="COMMON.PROMO_CODE"></h5>
            <p>{{promotion.promoCode}}</p>
            <h5 translate="COMMON.PROMO_DOC_NO"></h5>
            <p>{{promotion.promoDocNumber}}</p>
            <h5 translate="COMMON.PROMO_NAME"></h5>
            <p>{{promotion.promoName}}</p>
            <h5 translate="COMMON.CREATED_BY"></h5>
            <p>{{promotion.creatorName}}</p>
            <h5 translate="COMMON.CREATED_ON"></h5>
            <p>{{promotion.createdOn | myFormatDate}}</p>
        </div>
    </div>
    <div class="card-footer" *ngIf="'pending' === promoStatus">
        <button type="button" (click)="approve()" class="btn btn-primary btn-footer" translate="BUTTONS.APPROVE" [disabled]="disableButton('ApprovePromotion')"></button>
        <button type="button" (click)="reject()" class="btn btn-default btn-footer" translate="BUTTONS.REJECT" [disabled]="disableButton('RejectPromotion')"></button>
        <button type="button" (click)="rfi()" class="btn btn-default btn-footer"  translate="BUTTONS.RFI" [disabled]="disableButton('RFIPromotion')"></button>
        <button type="button" (click)="edit()" class="btn btn-default btn-footer" translate="BUTTONS.EDIT" [disabled]="disableButton('CreatePromotion')"></button>
    </div>
</div>