.template-card {
    padding: 40px 20px;
    &.dollar-off {
        .template-img {
            background-image: url("../../../assets/img/Dollar_icon@1x.png");
        }
    }
    &.percent-off {
        .template-img {
            background-image: url("../../../assets/img/percentage_icon@1x.png");
        }
    }
    &.free-freight-off {
        .template-img {
            background-image: url("../../../assets/img/free_freight_icon@1x.png");
        }
    }
    &.new-prod-launch {
        .template-img {
            background-image: url("../../../assets/img/new_product_icon@1x.png");
        }
    }
    &.free-gift {
        .template-img {
            background-image: url("../../../assets/img/free_gift_icon.png");
        }
    }
    .template-img {
        height: 92px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 40px;
    }
    .template-title {
        font-size: 24px;
        text-align: center;
        color: #6e6e6e;
        height: 67.2px;
    }
    &:hover, &.active {
        background-color: #e0f3fc;
        border: solid 1px #e8e8e8;
    }
}