<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-Control" content="public">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
        <!-- base url -->
        <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
        <% if (webpackConfig.htmlElements.headTags) { %>
            <!-- Configured Head Tags  -->
            <%= webpackConfig.htmlElements.headTags %>
                <% } %>


                    <%= htmlWebpackPlugin.files.webpackManifest %>

                        <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
                            <!-- Webpack Dev Server reload -->
                            <script src="/webpack-dev-server.js"></script>
                            <% } %>

                                <!-- CSS will be injected by webpack here -->
                                <!-- Preload link tags will be injected by webpack here -->

    </head>

    <body class="pilm pilm-default-theme">

        <app class="container-fluid">
            <div style="position: fixed;
        background: #333;
        opacity: 0.5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1023;"></div>
            <div style="position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        width: 93px;
        height: 72px;
        z-index: 1024;
        font-size: 2em;
        margin-left: -46.5px;
        margin-top: -36px;">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="color: #E8E8E8;"></i>
                <span class="sr-only"></span>
            </div>
        </app>

        <!-- Scripts will be injected by webpack here -->
    </body>

</html>
