@import '../../../styles/variables';
@import '../../../styles/mixins';
$content-margin: 80px;
.promotion-status {
    padding: 0;
    height: 100%;
    .left-side-panel, .right-side-panel {
        height: 100%;
        @include overflow-y(auto);
        @include tablet {
            height: auto;
            @include overflow-y(visible);
        }
    }
    .left-side-panel {
        padding: 0;
        width: 208px;
        float: left;
        @include tablet {
            overflow: visible;
        }
        @include breakpoint(0, 480px) {
            display: none;
        }
    }
    .right-side-panel {
        overflow-y: auto;
        @include maxWidthMinus(217px);
        float: left;
        @include tablet {
            padding: 0;
            overflow: visible;
        }
        @include breakpoint(0, 480px) {
            max-width: 100%;
        }
        &.extra-pad-left {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .pagination-wrapper {
        text-align: center;
        margin-right: 20%;
        .page-status {
            display: inline-block;
            position: relative;
            top: -30px;
            margin-right: 10px;
            font-weight: 600;
        }
        ul.pagination {
            margin: 0 !important;
        }
    }
}
