<div class="main-container">
    <div class="container-fluid promotion-status">
        <div class="row page-title">
            <i class="close-btn pull-right" (click)="navigation.navigate('/')"></i>
            <h4 translate="PROMOTION_STATUS_DETAILS.TITLE"></h4>
        </div>
        <div class="clearfix"></div>
        <div class="row page-body">
            <div class="col-md-2 left-side-panel">
                <promotion-snap-card *ngFor="let promotion of promoSnaps" [applyBorder]="true" [promoStatus]="promoStatus" [promotion]="promotion"
                    (promoSnapSelected)="viewPromoSnapDetails($event)"></promotion-snap-card>
            </div>
            <div class="col-md-10 right-side-panel" [ngClass]="{'extra-pad-left': promoSnaps && 5 < promoSnaps.length}">
                <div class="row pending-tasks">
                    <promotion-task-card *ngFor="let promotion of promotions" [applyBorder]="false" [promotion]="promotion" [promoStatus]="promoStatus"
                        (actionComplete)="onActionComplete($event)" [titleKey]="selectedSnap && selectedSnap.key" [cssClass]="'status-view'"></promotion-task-card>
                </div>

                <div class="row pagination-wrapper" *ngIf="pagination.show && pagination.totalItems > pagination.itemsPerPage">
                    <span class="page-status">{{(pagination.currentPage -1 )*pagination.itemsPerPage + 1}} - {{pagination.currentPage * pagination.itemsPerPage > pagination.totalItems ? pagination.totalItems : pagination.currentPage * pagination.itemsPerPage}} of {{pagination.totalItems}}</span>
                    <pagination
                            [boundaryLinks]="true"
                            [totalItems]="pagination.totalItems"
                            [(ngModel)]="pagination.currentPage"
                            [itemsPerPage]="pagination.itemsPerPage"
                            [maxSize]="pagination.maxSize"
                            (pageChanged)="pageChanged($event)"
                            class="pagination-sm"
                            previousText="&lsaquo;"
                            nextText="&rsaquo;"
                            firstText="&laquo;"
                            lastText="&raquo;"
                    ></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
