<!-- [@slideInOutAnimation]="'*'" -->
<div class="main-container home container-fuid clearfix">
    <div class="col-md-9 left-side-panel">
        <h4 translate="PROMOTION_STATUS_DETAILS.TITLE" *ngIf="promoSnaps && promoSnaps.length"></h4>
        <div class="row">
            <promotion-snap-card *ngFor="let promotion of promoSnaps" [expandLink]="true" [applyBorder]="false" [promotion]="promotion" (promoSnapSelected)="goToPromotionDetails($event)">
            </promotion-snap-card>
        </div>
        <div class="row recent-activity-wrap" *ngIf="recentActivities && recentActivities.length" [ngClass]="{'resize': promoSnaps && 4 < promoSnaps.length}">
            <h4 translate="RECENT_ACTIVITY.TITLE"></h4>
            <div class="recent-activities">
                <promotion-recent-activity-card 
                *ngFor="let recentActivity of recentActivities"
                [recentActivity]="recentActivity"
                [statusType]="recentActivity.action"></promotion-recent-activity-card>
            </div>
        </div>
    </div>
    <div class="col-md-3 right-side-panel" id="right-side-panel" *ngIf="promoPendingTasks && promoPendingTasks.length">
        <h4 style="margin-bottom: 22px;">{{'PROMOTION.PENDING_TASK' | translate}}({{pendingTaskCount}})</h4>
        <div class="row pending-tasks">
            <promotion-task-card *ngFor="let promotion of promoPendingTasks" [applyBorder]="false" 
            [promoStatus]="'pending'" [promotion]="promotion" [titleKey]="'PENDING_APPROVAL'" (actionComplete)="onActionComplete()"></promotion-task-card>
        </div>
    </div>
</div>