/*****************************************************************
 * Proprietary & Confidential  |  © 2017 PhaseZero Ventures LLC  *
 * This is part of PhaseZero Ventures LLC and cannot be copied,  *
 * modified and/or distributed without the express permission of *
 * PhaseZero Ventures LLC                                        *
 *****************************************************************/


/**
 * @author: Irshadahmed
 */
 @import '../../styles/variables';
 @import '../../styles/mixins';
.home {
    .left-side-panel {
        padding-right: 0;
        padding-left: 0;
        height: 100%;
        /*@include breakpoint (1131px, 1330px) {
            width: 64%;
        }*/
        @media (min-width: 992px) {
            width: 70%;
        }
        @include breakpoint (1129px, 1328px) {
            width: 65%;
        }
        @include breakpoint (0, 1128px) {
            width: 100%;
        }
        h4 {
            margin-bottom: 22px;
        }
        .recent-activity-wrap {
            @include heightMinus(144px);
            &.resize {
                @include heightMinus(244px);
            }
            @media (max-width: 1328px) {
                @include heightMinus(244px);
            }
            h4 {
                margin: 20px 0;
            }
            .recent-activities {
                @include heightMinus(60px);
                @include overflow-y(auto);
                padding-right: 5px;
                @include tablet {
                    @include overflow-y(visible);
                    padding-right: 0;
                }
                @include breakpoint(0, 1129px) {
                    margin-bottom: 30px;
                }
                @include breakpoint(0, 768px) {
                    padding-right: 0;
                }
            }
        }
    }
    .right-side-panel {
        padding-right: 0;
        padding-left: 0;
        max-width: 334px;
        float: right;
        height: 100%;
        /*@include breakpoint (1131px, 1330px) {
            width: 36%;
        }*/
        @media (min-width: 992px) {
            width: 30%;
        }
        @include breakpoint (1129px, 1328px) {
            width: 35%;
        }
        @include breakpoint (768px, 1128px) {
            float: left;
            width: 100%;
            padding-left: -15px;
            padding-right: 15px;
            max-width: 100%;
        }
        @include tablet() {
            float: left;
            padding-left: 0;
            padding-right: 0;    
            width: 100%;     
        }
        h4 {
            margin-bottom: 22px;
        }
        .pending-tasks {
            overflow-x: hidden;
            overflow-y: auto;
            padding-right: 5px;
            height: calc(100% - 50px);
            @media (max-width: 1128px) {
                overflow-y: visible;
                height: auto !important;
            }
            @include breakpoint(0, 1129px) {
                padding-right: 0;
            }
        }
    }
}
