<div class="configure-rules container-fluid" *ngIf="isTemplateReady">
    <div class="row page-title">
        <h4 translate="CONFIGURE_RULES.TITLE"></h4>
    </div>
    <div class="row page-body" scrollMe>
        <form class="pilm-form" #promoFrm="ngForm" role="form">
            <div class="rule-section">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5 promo-offer" *ngIf="hasFormField('PROMO_OFFER')">
                            <label for="promoOffer" translate="CONFIGURE_RULES.PROMO_OFF"></label>
                            <input class="form-control pilm-form-control" name="promoOffer" [(ngModel)]="promoDetails.promoOffer" #promoOffer="ngModel"
                                   placeholder="{{'CONFIGURE_RULES.PROMO_OFF' | translate}}" type="text" disabled>
                        </div>
                        <div class="col-md-2 promo-value" [ngClass]="{'invalid': value.invalid && (value.dirty || value.touched)}" *ngIf="hasFormField('VALUE')">
                            <label for="value" translate="CONFIGURE_RULES.VAL"></label>
                            <input class="form-control pilm-form-control" name="value" type="number" [(ngModel)]="promoDetails.promoValue" #value="ngModel"
                                   [pattern]="promoValPattern"
                                   min="1" max="{{maxVal}}" autocomplete="off" [disabled]="!hasEditableField('VALUE')" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2 multi-use" *ngIf="hasFormField('AUTO_APPLY_FLAG')">
                            <label for="multiUse">{{'TARGET_MARKET.AUTO_APPLY' | translate}}</label>
                            <label class="switch">
                                <input type="checkbox" name="autoapply" [(ngModel)]="promoDetails.autoApply" #autoapply="ngModel"  [disabled]="!hasEditableField('AUTO_APPLY_FLAG')">
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="col-md-2 multi-use" *ngIf="hasFormField('FIRST_ORDER_FLAG')">
                            <label for="multiUse">{{'TARGET_MARKET.FIRST_ORDER' | translate}}</label>
                            <label class="switch">
                                <input type="checkbox" name="firstOrderName" [(ngModel)]="promoDetails.firstOrder" #firstOrderName="ngModel" (ngModelChange)="firstOrderChange()"  [disabled]="!hasEditableField('FIRST_ORDER_FLAG')">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2 multi-use" *ngIf="hasFormField('MULTI_USE')">
                            <label for="multiUse">{{'PROMOTION.MULTI' | translate}}</label>
                            <label class="switch">
                                <input [disabled]="promoDetails.firstOrder || !hasEditableField('MULTI_USE')"
                                       type="checkbox" (change)="onMultiUse()" name="multiUse" [(ngModel)]="promoDetails.multiUse" #multiUse="ngModel">
                                <span class="slider round" [ngStyle]="{'background-color': promoDetails.firstOrder ? '#dbdbdb': ''}"></span>
                            </label>
                        </div>
                        <div class="col-md-2 threshold" [ngClass]="{'invalid': (10 < promoDetails.threshold || threshold.invalid) && (threshold.dirty || threshold.touched)}" *ngIf="hasFormField('THRESHOLD')">
                            <label for="threshold" translate="CONFIGURE_RULES.THRESHOLD"></label>
                            <input class="form-control pilm-form-control" name="threshold" type="number" [(ngModel)]="promoDetails.threshold" #threshold="ngModel"
                                   pattern="^[1-9][0-9]?$|^10$"
                                   min="2" max="10" autocomplete="off" [disabled]="!promoDetails.multiUse || promoDetails.firstOrder || !hasEditableField('THRESHOLD')" [required]="promoDetails.multiUse">
                        </div>
                        <div class="col-md-4 qual-amt" *ngIf="hasFormField('QUALIFYING_AMOUNT')">
                            <label for="qualAmt" translate="CONFIGURE_RULES.QUAL_AMT"></label>
                            <div class="input-group" [ngClass]="{'invalid': promoDetails.qualifyingAmount && qualAmt.invalid && (qualAmt.dirty || qualAmt.touched)}">
                                <span class="input-group-addon">
                                    <i class="fa fa-dollar"></i>
                                </span>
                                <input class="form-control pilm-form-control" name="qualAmt" type="number" [(ngModel)]="promoDetails.qualifyingAmount" #qualAmt="ngModel"
                                       min="1" autocomplete="off" [disabled]="!hasEditableField('QUALIFYING_AMOUNT')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-row" />
            <div class="target-prod-list clearfix" *ngIf="hasFormField('BY_LIST') || hasFormField('BY_CATEGORY') || hasFormField('BY_BRAND')">
                <div class="row page-title">
                    <h4 translate="{{targetProdType === 'byList' ? 'CONFIGURE_RULES.TARGET_PROD_LIST' :
                     targetProdType === 'byCategory' ?'CONFIGURE_RULES.TARGET_PROD_CAT' :
                      'CONFIGURE_RULES.TARGET_PROD_BRAND'}}"></h4>
                </div>
                <div class="select-option">
                    <div class="row">
                        <div class="col-md-2 " [ngClass]="{'disabled': !hasEditableField('BY_LIST')}">
                            <a class="clickable" [routerLink]=" ['./by-list'] " (click)="targetProdType = 'byList';">
                                <i class="fa fa-circle-o" [ngClass]="{'fa-dot-circle-o': targetProdType === 'byList'}"></i>
                                {{'CONFIGURE_RULES.BY_LIST' | translate}}
                            </a>
                        </div>
                        <div class="col-md-2 disabled" [ngClass]="{'disabled': !hasEditableField('BY_CATEGORY')}">
                            <a class="clickable" [routerLink]=" ['./by-category'] " (click)="targetProdType = 'byCategory';">
                                <i class="fa fa-circle-o" [ngClass]="{'fa-dot-circle-o': targetProdType === 'byCategory'}"></i>
                                {{'CONFIGURE_RULES.By_CAT' | translate}}
                            </a>
                        </div>
                        <div class="col-md-2 disabled" *ngIf="hasFormField('BY_BRAND')" [ngClass]="{'disabled': !hasEditableField('BY_BRAND')}">
                            <a class="clickable" [routerLink]=" ['./by-brand'] " (click)="targetProdType = 'byBrand';">
                                <i class="fa fa-circle-o" [ngClass]="{'fa-dot-circle-o': targetProdType === 'byBrand'}"></i>
                                {{'CONFIGURE_RULES.By_BRAND' | translate}}
                            </a>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </form>
    </div>
</div>
