@import '../../../styles/variables';
@import '../../../styles/mixins';
.configure-rules {
    padding-left: 0;
    padding-right: 20px;
    @include breakpoint(0, 992px) {
        padding-right: 0;
    }
    margin-top: 20px;
    @include heightMinus(60px);
    @include tablet {
        height: auto;
    }
    .page-body {
        padding-right: 20px;
        @include heightMinus(45px);
        @include overflow-y(auto);
        @include tablet {
            height: auto;
            @include overflow-y(visible);
        }
        .pilm-form {
            height: 100%;
            .rule-section {
                .form-group {
                    .col-md-2,
                    .col-md-4,
                    .col-md-5 {
                        padding: 0;
                        float: left;
                    }
                    .invalid {
                        .pilm-form-control {
                            @include apply-border($error-color);
                        }
                        .input-group-addon {
                            border-top: 1px solid $error-color !important;
                            border-bottom: 1px solid $error-color !important;
                            border-left: 1px solid $error-color !important;
                        }
                    }
                    input {
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    .promo-offer {
                        max-width: 316px;
                        padding-right: 20px;
                    }
                    .promo-value {
                        max-width: 104px;
                    }
                    .multi-use {
                        max-width: 92px;
                        //padding-right: 20px;
                    }
                    .threshold {
                        max-width: 96px;
                        padding-right: 20px;
                    }
                    .qual-amt {
                        max-width: 238px;
                        padding-right: 20px;
                        .input-group {
                            width: 100%;
                            .input-group-addon {
                                background-color: white;
                                color: #dbdbdb;
                                padding: 9px 11px;
                                border: 1px solid #dbdbdb;
                            }
                            input {
                                @include modal-radius(0 3px 3px 0);
                                height: 34.4px;
                            }
                        }
                    }
                }
            }
            .target-prod-list {
                @include heightMinus(203px);
                .select-option {
                    margin-bottom: 20px;
                    .col-md-2 {
                        padding: 0;
                        min-width: 106px;
                        float: left;
                        a {
                            display: inline-block;
                            font-size: $font-sz-md;
                            color: #6e6e6e;
                            max-width: 100%;
                            margin-bottom: 5px;
                            @include font-wt-bold();
                            outline: none;
                            text-decoration: none;
                            &:hover,
                            &:focus {
                                color: #6e6e6e;
                            }
                            .fa {
                                font-size: $font-sz-md-x;
                            }
                        }
                        &.disabled {
                            @include disableField();
                        }
                    }

                }
            }
        }
    }
}
